<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Program Bindings Libs</key>
	<array>
		<dict>
			<key>LibId</key>
			<string>apple_sdk_iphoneos8.1</string>
			<key>LibName</key>
			<string>iOS</string>
		</dict>
	</array>
	<key>Program Display Info</key>
	<dict>
		<key>LuaAppDocument remote Lua service</key>
		<string>LuaNavController - Main (Astérie)</string>
		<key>LuaAppDocument-associatedXodeProject</key>
		<dict>
			<key>platform</key>
			<string>iphoneos</string>
			<key>project</key>
			<string>LuaNavController.xcodeproj</string>
			<key>target</key>
			<string>LuaNavController</string>
		</dict>
		<key>LuaAppWindow edited source path</key>
		<string>CheckerTableController</string>
		<key>LuaAppWindow frame</key>
		<string>1039 535 1390 733 0 0 2560 1417 </string>
	</dict>
	<key>Program Format Version</key>
	<string>0.9</string>
	<key>Program Groups Order</key>
	<dict>
		<key></key>
		<array>
			<string>CreateController</string>
			<string>CheckerTableController</string>
			<string>CheckerTableCell</string>
			<string>DetailViewController</string>
			<string>data</string>
		</array>
		<key>data</key>
		<array>
			<string>tableItems</string>
			<string>DetailViewController</string>
			<string>banane</string>
			<string>poire</string>
			<string>pommes</string>
			<string>oranges</string>
			<string>checked</string>
			<string>unchecked</string>
		</array>
	</dict>
	<key>Program Platform Sdk Name</key>
	<string>iphoneos</string>
	<key>Program Source Files Info</key>
	<dict>
		<key></key>
		<dict>
			<key>RootGroupId</key>
			<string>fruit_basket</string>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ListController Group IsExpanded</key>
				<true/>
			</dict>
		</dict>
		<key>CheckerTableCell</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>CheckerTableCell</string>
			<key>SourceItemChangeTime</key>
			<real>440448350.14295202</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>343</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1603</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>CheckerTableController</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>CheckerTableController</string>
			<key>SourceItemChangeTime</key>
			<real>440458363.09930801</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>324</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1610</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>CreateController</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>CreateController</string>
			<key>SourceItemChangeTime</key>
			<real>430320500.435013</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>0</integer>
				<key>SrcEditor Visible Length</key>
				<integer>139</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>DetailViewController</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>DetailViewController</string>
			<key>SourceItemChangeTime</key>
			<real>438259744.59695399</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>1036</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1633</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>data</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>386698224</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ListController Group IsExpanded</key>
				<true/>
			</dict>
		</dict>
		<key>data.DetailViewController</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>440458147.88334799</real>
			<key>SourceItemOriginalFilePath</key>
			<string>Ressources/DetailViewController.xib</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va7wEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAArAMAAAQAAAADAwAAAAMAAAUAAAABAQAAVXNlcnMA
			AAAIAAAAAQEAAGplYW4tbHVjDQAAAAEBAABEZXZlbG9wcGVtZW50
			AAAAEAAAAAEBAABDZWxlZGV2IENvZGVGbG93HAAAAAEBAABDb2Rl
			RmxvdyBTYW1wbGUgQXBwbGljYXRpb25zEAAAAAEBAABMdWFOYXZD
			b250cm9sbGVyCgAAAAEBAABSZXNzb3VyY2VzAAAYAAAAAQEAAERl
			dGFpbFZpZXdDb250cm9sbGVyLnhpYiAAAAABBgAAEAAAACAAAAAw
			AAAASAAAAGAAAACEAAAAnAAAALAAAAAIAAAABAMAAHxkAgAAAAAA
			CAAAAAQDAADDe04AAAAAAAgAAAAEAwAANYNOAAAAAAAIAAAABAMA
			AFJTTwAAAAAACAAAAAQDAABuvE8AAAAAAAgAAAAEAwAAI9RcAAAA
			AAAIAAAABAMAAFfUXAAAAAAACAAAAAQDAAAfn7EAAAAAACAAAAAB
			BgAA+AAAAAgBAAAYAQAAKAEAADgBAABIAQAAWAEAAGgBAAAIAAAA
			AAQAAEG6ApmgAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAA
			AAAAAAAIAAAABAMAAAYAAAAAAAAABAAAAAMDAAD3AQAACAAAAAEJ
			AABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAA
			AEanAwEAAAgAAAAABAAAQbgi/8AAAAAkAAAAAQEAADFCQjM0QjhB
			LTdGNTktM0MyOS05QkE5LTIxM0FFODQ5Mzg2RRgAAAABAgAAgQAA
			AAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEF
			AAARAQAAAQIAADFkZDgxZjM2ZmM4NGY4M2Y4MmE0ZmZlOTkxOTll
			YTQ5Y2RkYWM3NmM7MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDAw
			MDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13cml0
			ZTswMDAwMDAwMTswMTAwMDAwODswMDAwMDAwMDAwYjE5ZjFmOy91
			c2Vycy9qZWFuLWx1Yy9kZXZlbG9wcGVtZW50L2NlbGVkZXYgY29k
			ZWZsb3cvY29kZWZsb3cgc2FtcGxlIGFwcGxpY2F0aW9ucy9sdWFu
			YXZjb250cm9sbGVyL3Jlc3NvdXJjZXMvZGV0YWlsdmlld2NvbnRy
			b2xsZXIueGliAAAAANgAAAD+////AQAAAAAAAAARAAAABBAAANAA
			AAAAAAAABRAAAHgBAAAAAAAAEBAAALABAAAAAAAAQBAAAKABAAAA
			AAAAAiAAAHwCAAAAAAAABSAAAOwBAAAAAAAAECAAAPwBAAAAAAAA
			ESAAADACAAAAAAAAEiAAABACAAAAAAAAEyAAACACAAAAAAAAICAA
			AFwCAAAAAAAAMCAAAIgCAAAAAAAAAcAAANABAAAAAAAAEcAAACAA
			AAAAAAAAEsAAAOABAAAAAAAAENAAAAQAAAAAAAAAgPAAAJACAAAA
			AAAA
			</data>
		</dict>
		<key>data.banane</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>431370334.54558098</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>1</real>
				<key>ImageViewerVisibleCenterX</key>
				<real>561.5</real>
				<key>ImageViewerVisibleCenterY</key>
				<real>328</real>
				<key>ImageViewerVisibleHeight</key>
				<real>151</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>202</real>
			</dict>
			<key>SourceItemOriginalFilePath</key>
			<string>Ressources/Images/banane2.png</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va9AEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAwAMAAAQAAAADAwAAAAMAAAUAAAABAQAAVXNlcnMA
			AAAIAAAAAQEAAGplYW4tbHVjDQAAAAEBAABEZXZlbG9wcGVtZW50
			AAAAEAAAAAEBAABDZWxlZGV2IENvZGVGbG93HAAAAAEBAABDb2Rl
			RmxvdyBTYW1wbGUgQXBwbGljYXRpb25zEAAAAAEBAABMdWFOYXZD
			b250cm9sbGVyCgAAAAEBAABSZXNzb3VyY2VzAAAGAAAAAQEAAElt
			YWdlcwAACwAAAAEBAABiYW5hbmUyLnBuZwAkAAAAAQYAABAAAAAg
			AAAAMAAAAEgAAABgAAAAhAAAAJwAAACwAAAAwAAAAAgAAAAEAwAA
			fGQCAAAAAAAIAAAABAMAAMN7TgAAAAAACAAAAAQDAAA1g04AAAAA
			AAgAAAAEAwAAUlNPAAAAAAAIAAAABAMAAG68TwAAAAAACAAAAAQD
			AAAj1FwAAAAAAAgAAAAEAwAAV9RcAAAAAAAIAAAABAMAAFvUXAAA
			AAAACAAAAAQDAAD5c2EAAAAAACQAAAABBgAAAAEAABABAAAgAQAA
			MAEAAEABAABQAQAAYAEAAHABAACAAQAACAAAAAAEAABBuGNXWQAA
			ABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQD
			AAAHAAAAAAAAAAQAAAADAwAA9wEAAAgAAAABCQAAZmlsZTovLy8M
			AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAABGpwMBAAAIAAAA
			AAQAAEG4Iv/AAAAAJAAAAAEBAAAxQkIzNEI4QS03RjU5LTNDMjkt
			OUJBOS0yMTNBRTg0OTM4NkUYAAAAAQIAAIEAAAABAAgA7xcAAAEA
			CAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAACwEAAAECAAA2
			NzYxMzc0OGUwNTUwNjAyOTMzYTZkM2YwN2NkYmNlZTI1ZTgzMjZk
			OzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29t
			LmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDAwMDAwMDE7
			MDEwMDAwMDg7MDAwMDAwMDAwMDYxNzNmOTsvdXNlcnMvamVhbi1s
			dWMvZGV2ZWxvcHBlbWVudC9jZWxlZGV2IGNvZGVmbG93L2NvZGVm
			bG93IHNhbXBsZSBhcHBsaWNhdGlvbnMvbHVhbmF2Y29udHJvbGxl
			ci9yZXNzb3VyY2VzL2ltYWdlcy9iYW5hbmUyLnBuZwAA2AAAAP7/
			//8BAAAAAAAAABEAAAAEEAAA1AAAAAAAAAAFEAAAkAEAAAAAAAAQ
			EAAAzAEAAAAAAABAEAAAvAEAAAAAAAACIAAAmAIAAAAAAAAFIAAA
			CAIAAAAAAAAQIAAAGAIAAAAAAAARIAAATAIAAAAAAAASIAAALAIA
			AAAAAAATIAAAPAIAAAAAAAAgIAAAeAIAAAAAAAAwIAAApAIAAAAA
			AAABwAAA7AEAAAAAAAARwAAAIAAAAAAAAAASwAAA/AEAAAAAAAAQ
			0AAABAAAAAAAAACA8AAArAIAAAAAAAA=
			</data>
		</dict>
		<key>data.checked</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>436376198.19531798</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>1</real>
				<key>ImageViewerVisibleCenterX</key>
				<real>561.5</real>
				<key>ImageViewerVisibleCenterY</key>
				<real>328</real>
				<key>ImageViewerVisibleHeight</key>
				<real>192</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>192</real>
			</dict>
			<key>SourceItemOriginalFilePath</key>
			<string>Ressources/Images/checked1.png</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va9AEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAwAMAAAQAAAADAwAAAAMAAAUAAAABAQAAVXNlcnMA
			AAAIAAAAAQEAAGplYW4tbHVjDQAAAAEBAABEZXZlbG9wcGVtZW50
			AAAAEAAAAAEBAABDZWxlZGV2IENvZGVGbG93HAAAAAEBAABDb2Rl
			RmxvdyBTYW1wbGUgQXBwbGljYXRpb25zEAAAAAEBAABMdWFOYXZD
			b250cm9sbGVyCgAAAAEBAABSZXNzb3VyY2VzAAAGAAAAAQEAAElt
			YWdlcwAADAAAAAEBAABjaGVja2VkMS5wbmckAAAAAQYAABAAAAAg
			AAAAMAAAAEgAAABgAAAAhAAAAJwAAACwAAAAwAAAAAgAAAAEAwAA
			fGQCAAAAAAAIAAAABAMAAMN7TgAAAAAACAAAAAQDAAA1g04AAAAA
			AAgAAAAEAwAAUlNPAAAAAAAIAAAABAMAAG68TwAAAAAACAAAAAQD
			AAAj1FwAAAAAAAgAAAAEAwAAV9RcAAAAAAAIAAAABAMAAFvUXAAA
			AAAACAAAAAQDAABlnWgAAAAAACQAAAABBgAAAAEAABABAAAgAQAA
			MAEAAEABAABQAQAAYAEAAHABAACAAQAACAAAAAAEAABBuNhI9QAA
			ABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQD
			AAAHAAAAAAAAAAQAAAADAwAA9wEAAAgAAAABCQAAZmlsZTovLy8M
			AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAABGpwMBAAAIAAAA
			AAQAAEG4Iv/AAAAAJAAAAAEBAAAxQkIzNEI4QS03RjU5LTNDMjkt
			OUJBOS0yMTNBRTg0OTM4NkUYAAAAAQIAAIEAAAABAAgA7xcAAAEA
			CAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAADAEAAAECAABj
			YWZjZDczMTM4MjQ5N2QxZDEwOTgzMGMwZTAzYmJiZGEzNWI0ODQ3
			OzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29t
			LmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDAwMDAwMDE7
			MDEwMDAwMDg7MDAwMDAwMDAwMDY4OWQ2NTsvdXNlcnMvamVhbi1s
			dWMvZGV2ZWxvcHBlbWVudC9jZWxlZGV2IGNvZGVmbG93L2NvZGVm
			bG93IHNhbXBsZSBhcHBsaWNhdGlvbnMvbHVhbmF2Y29udHJvbGxl
			ci9yZXNzb3VyY2VzL2ltYWdlcy9jaGVja2VkMS5wbmcA2AAAAP7/
			//8BAAAAAAAAABEAAAAEEAAA1AAAAAAAAAAFEAAAkAEAAAAAAAAQ
			EAAAzAEAAAAAAABAEAAAvAEAAAAAAAACIAAAmAIAAAAAAAAFIAAA
			CAIAAAAAAAAQIAAAGAIAAAAAAAARIAAATAIAAAAAAAASIAAALAIA
			AAAAAAATIAAAPAIAAAAAAAAgIAAAeAIAAAAAAAAwIAAApAIAAAAA
			AAABwAAA7AEAAAAAAAARwAAAIAAAAAAAAAASwAAA/AEAAAAAAAAQ
			0AAABAAAAAAAAACA8AAArAIAAAAAAAA=
			</data>
		</dict>
		<key>data.oranges</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>435797284.54196602</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>0.82986027259713191</real>
				<key>ImageViewerVisibleCenterX</key>
				<real>561.5</real>
				<key>ImageViewerVisibleCenterY</key>
				<real>328</real>
				<key>ImageViewerVisibleHeight</key>
				<real>225</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>310</real>
			</dict>
			<key>SourceItemOriginalFilePath</key>
			<string>Ressources/Images/orange.jpeg</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va9AEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAwAMAAAQAAAADAwAAAAMAAAUAAAABAQAAVXNlcnMA
			AAAIAAAAAQEAAGplYW4tbHVjDQAAAAEBAABEZXZlbG9wcGVtZW50
			AAAAEAAAAAEBAABDZWxlZGV2IENvZGVGbG93HAAAAAEBAABDb2Rl
			RmxvdyBTYW1wbGUgQXBwbGljYXRpb25zEAAAAAEBAABMdWFOYXZD
			b250cm9sbGVyCgAAAAEBAABSZXNzb3VyY2VzAAAGAAAAAQEAAElt
			YWdlcwAACwAAAAEBAABvcmFuZ2UuanBlZwAkAAAAAQYAABAAAAAg
			AAAAMAAAAEgAAABgAAAAhAAAAJwAAACwAAAAwAAAAAgAAAAEAwAA
			fGQCAAAAAAAIAAAABAMAAMN7TgAAAAAACAAAAAQDAAA1g04AAAAA
			AAgAAAAEAwAAUlNPAAAAAAAIAAAABAMAAG68TwAAAAAACAAAAAQD
			AAAj1FwAAAAAAAgAAAAEAwAAV9RcAAAAAAAIAAAABAMAAFvUXAAA
			AAAACAAAAAQDAAAhn7EAAAAAACQAAAABBgAAAAEAABABAAAgAQAA
			MAEAAEABAABQAQAAYAEAAHABAACAAQAACAAAAAAEAABBugKZoAAA
			ABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQD
			AAAHAAAAAAAAAAQAAAADAwAA9wEAAAgAAAABCQAAZmlsZTovLy8M
			AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAABGpwMBAAAIAAAA
			AAQAAEG4Iv/AAAAAJAAAAAEBAAAxQkIzNEI4QS03RjU5LTNDMjkt
			OUJBOS0yMTNBRTg0OTM4NkUYAAAAAQIAAIEAAAABAAgA7xcAAAEA
			CAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAACwEAAAECAAA2
			OTljZDcwNzUwZmVkMjcwNGI5NzQwZGY5Y2M2ODE2YmVlYTY5ZjRm
			OzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29t
			LmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDAwMDAwMDE7
			MDEwMDAwMDg7MDAwMDAwMDAwMGIxOWYyMTsvdXNlcnMvamVhbi1s
			dWMvZGV2ZWxvcHBlbWVudC9jZWxlZGV2IGNvZGVmbG93L2NvZGVm
			bG93IHNhbXBsZSBhcHBsaWNhdGlvbnMvbHVhbmF2Y29udHJvbGxl
			ci9yZXNzb3VyY2VzL2ltYWdlcy9vcmFuZ2UuanBlZwAA2AAAAP7/
			//8BAAAAAAAAABEAAAAEEAAA1AAAAAAAAAAFEAAAkAEAAAAAAAAQ
			EAAAzAEAAAAAAABAEAAAvAEAAAAAAAACIAAAmAIAAAAAAAAFIAAA
			CAIAAAAAAAAQIAAAGAIAAAAAAAARIAAATAIAAAAAAAASIAAALAIA
			AAAAAAATIAAAPAIAAAAAAAAgIAAAeAIAAAAAAAAwIAAApAIAAAAA
			AAABwAAA7AEAAAAAAAARwAAAIAAAAAAAAAASwAAA/AEAAAAAAAAQ
			0AAABAAAAAAAAACA8AAArAIAAAAAAAA=
			</data>
		</dict>
		<key>data.poire</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>430400549.561432</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>1</real>
				<key>ImageViewerVisibleCenterX</key>
				<real>561.5</real>
				<key>ImageViewerVisibleCenterY</key>
				<real>328</real>
				<key>ImageViewerVisibleHeight</key>
				<real>281</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>179</real>
			</dict>
			<key>SourceItemOriginalFilePath</key>
			<string>Ressources/Images/poire.jpeg</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va9AEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAwAMAAAQAAAADAwAAAAMAAAUAAAABAQAAVXNlcnMA
			AAAIAAAAAQEAAGplYW4tbHVjDQAAAAEBAABEZXZlbG9wcGVtZW50
			AAAAEAAAAAEBAABDZWxlZGV2IENvZGVGbG93HAAAAAEBAABDb2Rl
			RmxvdyBTYW1wbGUgQXBwbGljYXRpb25zEAAAAAEBAABMdWFOYXZD
			b250cm9sbGVyCgAAAAEBAABSZXNzb3VyY2VzAAAGAAAAAQEAAElt
			YWdlcwAACgAAAAEBAABwb2lyZS5qcGVnAAAkAAAAAQYAABAAAAAg
			AAAAMAAAAEgAAABgAAAAhAAAAJwAAACwAAAAwAAAAAgAAAAEAwAA
			fGQCAAAAAAAIAAAABAMAAMN7TgAAAAAACAAAAAQDAAA1g04AAAAA
			AAgAAAAEAwAAUlNPAAAAAAAIAAAABAMAAG68TwAAAAAACAAAAAQD
			AAAj1FwAAAAAAAgAAAAEAwAAV9RcAAAAAAAIAAAABAMAAFvUXAAA
			AAAACAAAAAQDAABk1FwAAAAAACQAAAABBgAAAAEAABABAAAgAQAA
			MAEAAEABAABQAQAAYAEAAHABAACAAQAACAAAAAAEAABBtxm2tgAA
			ABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQD
			AAAHAAAAAAAAAAQAAAADAwAA9wEAAAgAAAABCQAAZmlsZTovLy8M
			AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAABGpwMBAAAIAAAA
			AAQAAEG4Iv/AAAAAJAAAAAEBAAAxQkIzNEI4QS03RjU5LTNDMjkt
			OUJBOS0yMTNBRTg0OTM4NkUYAAAAAQIAAIEAAAABAAgA7xcAAAEA
			CAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAACgEAAAECAAAz
			NTBjYjJkNDUzOGM3MDUxODhjYjEyYTY0MWM5MGQ1NmI3Y2JiMmFl
			OzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29t
			LmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDAwMDAwMDE7
			MDEwMDAwMDg7MDAwMDAwMDAwMDVjZDQ2NDsvdXNlcnMvamVhbi1s
			dWMvZGV2ZWxvcHBlbWVudC9jZWxlZGV2IGNvZGVmbG93L2NvZGVm
			bG93IHNhbXBsZSBhcHBsaWNhdGlvbnMvbHVhbmF2Y29udHJvbGxl
			ci9yZXNzb3VyY2VzL2ltYWdlcy9wb2lyZS5qcGVnAAAA2AAAAP7/
			//8BAAAAAAAAABEAAAAEEAAA1AAAAAAAAAAFEAAAkAEAAAAAAAAQ
			EAAAzAEAAAAAAABAEAAAvAEAAAAAAAACIAAAmAIAAAAAAAAFIAAA
			CAIAAAAAAAAQIAAAGAIAAAAAAAARIAAATAIAAAAAAAASIAAALAIA
			AAAAAAATIAAAPAIAAAAAAAAgIAAAeAIAAAAAAAAwIAAApAIAAAAA
			AAABwAAA7AEAAAAAAAARwAAAIAAAAAAAAAASwAAA/AEAAAAAAAAQ
			0AAABAAAAAAAAACA8AAArAIAAAAAAAA=
			</data>
		</dict>
		<key>data.pommes</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>431371589.06039101</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>2.8889254957726891</real>
				<key>ImageViewerVisibleCenterX</key>
				<real>561.5</real>
				<key>ImageViewerVisibleCenterY</key>
				<real>328</real>
				<key>ImageViewerVisibleHeight</key>
				<real>183</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>276</real>
			</dict>
			<key>SourceItemOriginalFilePath</key>
			<string>Ressources/Images/pommes.jpeg</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va9AEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAwAMAAAQAAAADAwAAAAMAAAUAAAABAQAAVXNlcnMA
			AAAIAAAAAQEAAGplYW4tbHVjDQAAAAEBAABEZXZlbG9wcGVtZW50
			AAAAEAAAAAEBAABDZWxlZGV2IENvZGVGbG93HAAAAAEBAABDb2Rl
			RmxvdyBTYW1wbGUgQXBwbGljYXRpb25zEAAAAAEBAABMdWFOYXZD
			b250cm9sbGVyCgAAAAEBAABSZXNzb3VyY2VzAAAGAAAAAQEAAElt
			YWdlcwAACwAAAAEBAABwb21tZXMuanBlZwAkAAAAAQYAABAAAAAg
			AAAAMAAAAEgAAABgAAAAhAAAAJwAAACwAAAAwAAAAAgAAAAEAwAA
			fGQCAAAAAAAIAAAABAMAAMN7TgAAAAAACAAAAAQDAAA1g04AAAAA
			AAgAAAAEAwAAUlNPAAAAAAAIAAAABAMAAG68TwAAAAAACAAAAAQD
			AAAj1FwAAAAAAAgAAAAEAwAAV9RcAAAAAAAIAAAABAMAAFvUXAAA
			AAAACAAAAAQDAABm1FwAAAAAACQAAAABBgAAAAEAABABAAAgAQAA
			MAEAAEABAABQAQAAYAEAAHABAACAAQAACAAAAAAEAABBuMS2gwAA
			ABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQD
			AAAHAAAAAAAAAAQAAAADAwAA9wEAAAgAAAABCQAAZmlsZTovLy8M
			AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAABGpwMBAAAIAAAA
			AAQAAEG4Iv/AAAAAJAAAAAEBAAAxQkIzNEI4QS03RjU5LTNDMjkt
			OUJBOS0yMTNBRTg0OTM4NkUYAAAAAQIAAIEAAAABAAgA7xcAAAEA
			CAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAACwEAAAECAAA5
			NTc4OTYyNDgxNTA1Y2VjMzE0NTQxNzQ4OTA1YWFiNDcyYTU5NmQ3
			OzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29t
			LmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDAwMDAwMDE7
			MDEwMDAwMDg7MDAwMDAwMDAwMDVjZDQ2NjsvdXNlcnMvamVhbi1s
			dWMvZGV2ZWxvcHBlbWVudC9jZWxlZGV2IGNvZGVmbG93L2NvZGVm
			bG93IHNhbXBsZSBhcHBsaWNhdGlvbnMvbHVhbmF2Y29udHJvbGxl
			ci9yZXNzb3VyY2VzL2ltYWdlcy9wb21tZXMuanBlZwAA2AAAAP7/
			//8BAAAAAAAAABEAAAAEEAAA1AAAAAAAAAAFEAAAkAEAAAAAAAAQ
			EAAAzAEAAAAAAABAEAAAvAEAAAAAAAACIAAAmAIAAAAAAAAFIAAA
			CAIAAAAAAAAQIAAAGAIAAAAAAAARIAAATAIAAAAAAAASIAAALAIA
			AAAAAAATIAAAPAIAAAAAAAAgIAAAeAIAAAAAAAAwIAAApAIAAAAA
			AAABwAAA7AEAAAAAAAARwAAAIAAAAAAAAAASwAAA/AEAAAAAAAAQ
			0AAABAAAAAAAAACA8AAArAIAAAAAAAA=
			</data>
		</dict>
		<key>data.tableItems</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>435796980.47273499</real>
			<key>SourceItemOriginalFilePath</key>
			<string>Ressources/tableData.plist</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va6gEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAmAMAAAQAAAADAwAAAAMAAAUAAAABAQAAVXNlcnMA
			AAAIAAAAAQEAAGplYW4tbHVjDQAAAAEBAABEZXZlbG9wcGVtZW50
			AAAAEAAAAAEBAABDZWxlZGV2IENvZGVGbG93HAAAAAEBAABDb2Rl
			RmxvdyBTYW1wbGUgQXBwbGljYXRpb25zEAAAAAEBAABMdWFOYXZD
			b250cm9sbGVyCgAAAAEBAABSZXNzb3VyY2VzAAAPAAAAAQEAAHRh
			YmxlRGF0YS5wbGlzdAAgAAAAAQYAABAAAAAgAAAAMAAAAEgAAABg
			AAAAhAAAAJwAAACwAAAACAAAAAQDAAB8ZAIAAAAAAAgAAAAEAwAA
			w3tOAAAAAAAIAAAABAMAADWDTgAAAAAACAAAAAQDAABSU08AAAAA
			AAgAAAAEAwAAbrxPAAAAAAAIAAAABAMAACPUXAAAAAAACAAAAAQD
			AABX1FwAAAAAAAgAAAAEAwAAc/pwAAAAAAAgAAAAAQYAAPAAAAAA
			AQAAEAEAACABAAAwAQAAQAEAAFABAABgAQAACAAAAAAEAABBuRwd
			9gAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAA
			AAQDAAAGAAAAAAAAAAQAAAADAwAA9wEAAAgAAAABCQAAZmlsZTov
			Ly8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAABGpwMBAAAI
			AAAAAAQAAEG4Iv/AAAAAJAAAAAEBAAAxQkIzNEI4QS03RjU5LTND
			MjktOUJBOS0yMTNBRTg0OTM4NkUYAAAAAQIAAIEAAAABAAgA7xcA
			AAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAACAEAAAEC
			AABhZmYwZjFmZDkzZTA3ZTRjZWM5MDdlYzk4NGZlODg2ZWUwMzYw
			ZWZjOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7
			Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDAwMDAw
			MDE7MDEwMDAwMDg7MDAwMDAwMDAwMDcwZmE3MzsvdXNlcnMvamVh
			bi1sdWMvZGV2ZWxvcHBlbWVudC9jZWxlZGV2IGNvZGVmbG93L2Nv
			ZGVmbG93IHNhbXBsZSBhcHBsaWNhdGlvbnMvbHVhbmF2Y29udHJv
			bGxlci9yZXNzb3VyY2VzL3RhYmxlZGF0YS5wbGlzdADYAAAA/v//
			/wEAAAAAAAAAEQAAAAQQAADIAAAAAAAAAAUQAABwAQAAAAAAABAQ
			AACoAQAAAAAAAEAQAACYAQAAAAAAAAIgAAB0AgAAAAAAAAUgAADk
			AQAAAAAAABAgAAD0AQAAAAAAABEgAAAoAgAAAAAAABIgAAAIAgAA
			AAAAABMgAAAYAgAAAAAAACAgAABUAgAAAAAAADAgAACAAgAAAAAA
			AAHAAADIAQAAAAAAABHAAAAgAAAAAAAAABLAAADYAQAAAAAAABDQ
			AAAEAAAAAAAAAIDwAACIAgAAAAAAAA==
			</data>
		</dict>
		<key>data.unchecked</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>421272994.60305899</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>4.3995451130218646</real>
				<key>ImageViewerVisibleHeight</key>
				<real>128</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>128</real>
			</dict>
			<key>SourceItemOriginalFilePath</key>
			<string>Ressources/Images/unchecked1.png</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va9gEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAyAMAAAQAAAADAwAAAAMAAAUAAAABAQAAVXNlcnMA
			AAAIAAAAAQEAAGplYW4tbHVjDQAAAAEBAABEZXZlbG9wcGVtZW50
			AAAAEAAAAAEBAABDZWxlZGV2IENvZGVGbG93HAAAAAEBAABDb2Rl
			RmxvdyBTYW1wbGUgQXBwbGljYXRpb25zEAAAAAEBAABMdWFOYXZD
			b250cm9sbGVyCgAAAAEBAABSZXNzb3VyY2VzAAAGAAAAAQEAAElt
			YWdlcwAADgAAAAEBAAB1bmNoZWNrZWQxLnBuZwAAJAAAAAEGAAAQ
			AAAAIAAAADAAAABIAAAAYAAAAIQAAACcAAAAsAAAAMAAAAAIAAAA
			BAMAAHxkAgAAAAAACAAAAAQDAADDe04AAAAAAAgAAAAEAwAANYNO
			AAAAAAAIAAAABAMAAFJTTwAAAAAACAAAAAQDAABuvE8AAAAAAAgA
			AAAEAwAAI9RcAAAAAAAIAAAABAMAAFfUXAAAAAAACAAAAAQDAABb
			1FwAAAAAAAgAAAAEAwAAadRcAAAAAAAkAAAAAQYAAAQBAAAUAQAA
			JAEAADQBAABEAQAAVAEAAGQBAAB0AQAAhAEAAAgAAAAABAAAQbgZ
			jTMAAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
			AAAEAwAABwAAAAAAAAAEAAAAAwMAAPcBAAAIAAAAAQkAAGZpbGU6
			Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAARqcDAQAA
			CAAAAAAEAABBuCL/wAAAACQAAAABAQAAMUJCMzRCOEEtN0Y1OS0z
			QzI5LTlCQTktMjEzQUU4NDkzODZFGAAAAAECAACBAAAAAQAIAO8X
			AAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAA4BAAAB
			AgAANGU5MTE1NTI2N2M4ZWQ2YjdhYTVlODc4MmU0NDFhOWE3ODI0
			MDc2YjswMDAwMDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIw
			O2NvbS5hcHBsZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRlOzAwMDAw
			MDAxOzAxMDAwMDA4OzAwMDAwMDAwMDA1Y2Q0Njk7L3VzZXJzL2pl
			YW4tbHVjL2RldmVsb3BwZW1lbnQvY2VsZWRldiBjb2RlZmxvdy9j
			b2RlZmxvdyBzYW1wbGUgYXBwbGljYXRpb25zL2x1YW5hdmNvbnRy
			b2xsZXIvcmVzc291cmNlcy9pbWFnZXMvdW5jaGVja2VkMS5wbmcA
			AADYAAAA/v///wEAAAAAAAAAEQAAAAQQAADYAAAAAAAAAAUQAACU
			AQAAAAAAABAQAADQAQAAAAAAAEAQAADAAQAAAAAAAAIgAACcAgAA
			AAAAAAUgAAAMAgAAAAAAABAgAAAcAgAAAAAAABEgAABQAgAAAAAA
			ABIgAAAwAgAAAAAAABMgAABAAgAAAAAAACAgAAB8AgAAAAAAADAg
			AACoAgAAAAAAAAHAAADwAQAAAAAAABHAAAAgAAAAAAAAABLAAAAA
			AgAAAAAAABDQAAAEAAAAAAAAAIDwAACwAgAAAAAAAA==
			</data>
		</dict>
	</dict>
</dict>
</plist>
