<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Program Bindings Libs</key>
	<array>
		<dict>
			<key>LibId</key>
			<string>apple_sdk_iphoneos8.3</string>
			<key>LibName</key>
			<string>iOS</string>
		</dict>
		<dict>
			<key>BindingsLibSourceGroupType</key>
			<string>SelfGeneratedBindingsLib</string>
			<key>CustomBindingsLibBindingsSourcePath</key>
			<string>/Volumes/Brume/Celedev CodeFlow/CodeFlow Sample Applications/LuaNavController/LuaNavController.xcodeproj</string>
			<key>CustomBindingsLibHeadersParsingOptions</key>
			<array>
				<string>-include</string>
				<string>/Volumes/Brume/Celedev CodeFlow/CodeFlow Sample Applications/LuaNavController/LuaNavController/LuaNavController-Prefix.pch</string>
				<string>-fobjc-arc</string>
			</array>
			<key>CustomBindingsLibHeadersSearchPaths</key>
			<array>
				<string>$(USER_LIBRARY_DIR)/Application\ Support/com.celedev.CodeFlow/iphoneos/include</string>
				<string>$(USER_LIBRARY_DIR)/Application\ Support/com.celedev.CodeFlow/headers</string>
			</array>
			<key>CustomBindingsLibLastGenerationDate</key>
			<date>2015-05-20T16:07:19Z</date>
			<key>CustomBindingsLibSourceFilesTree</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGdHVYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoK8QIAcIERIXHB0iJyguLzU8PT5CR0xN
			UVJeX2BhYmNkZ2twVSRudWxs1AkKCwwNDg8QVm9iamVjdFRuYW1l
			WmF0dHJpYnV0ZXNWJGNsYXNzgAOAAoAfgB5Q0hMMFBZaTlMub2Jq
			ZWN0c6EVgASAHNQJCgsMGBkaEIAGgAWAHYAeXxAQTHVhTmF2Q29u
			dHJvbGxlctITDB4Woh8ggAeAEYAc1AkKCwwjJCUmgAmACIAMgBBf
			EBBDSU1BcHBEZWxlZ2F0ZS5o0ykMKissLVdOUy5iYXNlW05TLnJl
			bGF0aXZlgACAC4AKXxB8ZmlsZTovLy9Wb2x1bWVzL0JydW1lL0Nl
			bGVkZXYlMjBDb2RlRmxvdy9Db2RlRmxvdyUyMFNhbXBsZSUyMEFw
			cGxpY2F0aW9ucy9MdWFOYXZDb250cm9sbGVyL0x1YU5hdkNvbnRy
			b2xsZXIvQ0lNQXBwRGVsZWdhdGUuaNIwMTIzWiRjbGFzc25hbWVY
			JGNsYXNzZXNVTlNVUkyiMjRYTlNPYmplY3TTNhMMNzk7V05TLmtl
			eXOhOIANoTqADoAPWHNlbGVjdGVkCNIwMT9AXxATTlNNdXRhYmxl
			RGljdGlvbmFyeaM/QTRcTlNEaWN0aW9uYXJ50jAxQ0RcQ0RGTE5h
			bWVkVXJso0VGNFxDREZMTmFtZWRVcmxdQ0RGTE5hbWVkSXRlbdQJ
			CgsMSElKJoATgBKAFYAQXxAWRGV0YWlsVmlld0NvbnRyb2xsZXIu
			aNMpDCorLFCAAIALgBRfEIJmaWxlOi8vL1ZvbHVtZXMvQnJ1bWUv
			Q2VsZWRldiUyMENvZGVGbG93L0NvZGVGbG93JTIwU2FtcGxlJTIw
			QXBwbGljYXRpb25zL0x1YU5hdkNvbnRyb2xsZXIvTHVhTmF2Q29u
			dHJvbGxlci9EZXRhaWxWaWV3Q29udHJvbGxlci5o0zYTDFNYO6RU
			VThXgBaAF4ANgBikWVpaXIAZgBqAGoAbgA9fEBJnZW5lcmF0aW9u
			RmlsZURhdGVfEBRnZW5lcmF0aW9uRGlkU3VjY2VlZF8QF2dlbmVy
			YXRpb25MdWFNb2R1a2VQYXRoI0G6ApmgAAAACV8QFERldGFpbFZp
			ZXdDb250cm9sbGVy0jAxZWZXTlNBcnJheaJlNNM2EwxoaTugoIAP
			0jAxbG1eQ0RGTE5hbWVkR3JvdXCjbm80XkNERkxOYW1lZEdyb3Vw
			XUNERkxOYW1lZEl0ZW3TNhMMcXI7oKCAD18QD05TS2V5ZWRBcmNo
			aXZlctF2d1Ryb290gAEACAARABoAIwAtADIANwBaAGAAaQBwAHUA
			gACHAIkAiwCNAI8AkACVAKAAogCkAKYArwCxALMAtQC3AMoAzwDS
			ANQA1gDYAOEA4wDlAOcA6QD8AQMBCwEXARkBGwEdAZwBoQGsAbUB
			uwG+AccBzgHWAdgB2gHcAd4B4AHpAeoB7wIFAgkCFgIbAigCLAI5
			AkcCUAJSAlQCVgJYAnECeAJ6AnwCfgMDAwoDDwMRAxMDFQMXAxwD
			HgMgAyIDJAMmAzsDUgNsA3UDdgONA5IDmgOdA6QDpQOmA6gDrQO8
			A8ADzwPdA+QD5QPmA+gD+gP9BAIAAAAAAAACAQAAAAAAAAB4AAAA
			AAAAAAAAAAAAAAAEBA==
			</data>
			<key>CustomBindingsLibTargetOSVersion</key>
			<string>6.0</string>
			<key>CustomBindingsLibXcodeTargetInfo</key>
			<dict>
				<key>target</key>
				<string>LuaNavController</string>
				<key>targetSdk</key>
				<string>iphoneos</string>
				<key>targetType</key>
				<string>com.apple.product-type.application</string>
			</dict>
			<key>LibBookmark</key>
			<data>
			Ym9va+wEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAA3AMAAAQAAAADAwAAAAIAAAUAAAABAQAAVXNlcnMA
			AAAIAAAAAQEAAGplYW4tbHVjBwAAAAEBAABMaWJyYXJ5AAYAAAAB
			AQAAQ2FjaGVzAAAUAAAAAQEAAGNvbS5jZWxlZGV2LkNvZGVGbG93
			CAAAAAEBAABQcm9ncmFtcyQAAAABAQAANERFNDIxOTctODgzRi00
			RjM5LUJBMkUtNUY0NkQ3NTUyOEFCDAAAAAEBAABFeHRlcm5hbExp
			YnMcAAAAAQEAAEx1YU5hdkNvbnRyb2xsZXIubHVhYmluZGluZ3Mk
			AAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAAbAAAAHwAAACoAAAA
			vAAAAAgAAAAEAwAAfGQCAAAAAAAIAAAABAMAAMN7TgAAAAAACAAA
			AAQDAAA4fE4AAAAAAAgAAAAEAwAAbnxOAAAAAAAIAAAABAMAAPFP
			kAEAAAAACAAAAAQDAAD3d5ABAAAAAAgAAAAEAwAA5n6QAQAAAAAI
			AAAABAMAAOd+kAEAAAAACAAAAAQDAADofpABAAAAACQAAAABBgAA
			DAEAABwBAAAsAQAAPAEAAEwBAABcAQAAbAEAAHwBAACMAQAACAAA
			AAAEAABBuwzoqgAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAA
			AAAAAAAACAAAAAQDAAAHAAAAAAAAAAQAAAADAwAA9wEAAAgAAAAB
			CQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAA
			AABGpwMBAAAIAAAAAAQAAEG4Iv/AAAAAJAAAAAEBAAAxQkIzNEI4
			QS03RjU5LTNDMjktOUJBOS0yMTNBRTg0OTM4NkUYAAAAAQIAAIEA
			AAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAAB
			BQAAHAEAAAECAABmMjJkNGQ2NmVhM2FhMDJmNDg2MTI2OTVjMTFm
			NGY3MDU1YmRlMDgxOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAw
			MDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3Jp
			dGU7MDAwMDAwMDE7MDEwMDAwMDg7MDAwMDAwMDAwMTkwN2VlODsv
			dXNlcnMvamVhbi1sdWMvbGlicmFyeS9jYWNoZXMvY29tLmNlbGVk
			ZXYuY29kZWZsb3cvcHJvZ3JhbXMvNGRlNDIxOTctODgzZi00ZjM5
			LWJhMmUtNWY0NmQ3NTUyOGFiL2V4dGVybmFsbGlicy9sdWFuYXZj
			b250cm9sbGVyLmx1YWJpbmRpbmdzANgAAAD+////AQAAAAAAAAAR
			AAAABBAAAOAAAAAAAAAABRAAAJwBAAAAAAAAEBAAANgBAAAAAAAA
			QBAAAMgBAAAAAAAAAiAAAKQCAAAAAAAABSAAABQCAAAAAAAAECAA
			ACQCAAAAAAAAESAAAFgCAAAAAAAAEiAAADgCAAAAAAAAEyAAAEgC
			AAAAAAAAICAAAIQCAAAAAAAAMCAAALACAAAAAAAAAcAAAPgBAAAA
			AAAAEcAAACAAAAAAAAAAEsAAAAgCAAAAAAAAENAAAAQAAAAAAAAA
			gPAAALgCAAAAAAAA
			</data>
			<key>LibName</key>
			<string>LuaNavController</string>
			<key>LibUrl</key>
			<string>file:///Users/jean-luc/Library/Caches/com.celedev.CodeFlow/Programs/4DE42197-883F-4F39-BA2E-5F46D75528AB/ExternalLibs/LuaNavController.luabindings</string>
		</dict>
	</array>
	<key>Program Display Info</key>
	<dict>
		<key>LuaAppDocument-associatedXodeProject</key>
		<dict>
			<key>project</key>
			<string>LuaNavController.xcodeproj</string>
			<key>target</key>
			<string>LuaNavController</string>
			<key>targetSdk</key>
			<string>iphoneos</string>
			<key>targetType</key>
			<string>com.apple.product-type.application</string>
		</dict>
		<key>LuaAppWindow edited source path</key>
		<string>CheckerTableController</string>
		<key>LuaAppWindow frame</key>
		<string>741 615 1390 733 0 0 2560 1417 </string>
	</dict>
	<key>Program Format Version</key>
	<string>0.9</string>
	<key>Program Groups Order</key>
	<dict>
		<key></key>
		<array>
			<string>CreateController</string>
			<string>CheckerTableController</string>
			<string>CheckerTableCell</string>
			<string>DetailViewController</string>
			<string>data</string>
		</array>
		<key>data</key>
		<array>
			<string>tableItems</string>
			<string>DetailViewController</string>
			<string>banane</string>
			<string>poire</string>
			<string>pommes</string>
			<string>oranges</string>
			<string>checked</string>
			<string>unchecked</string>
		</array>
	</dict>
	<key>Program Platform Sdk Name</key>
	<string>iphoneos</string>
	<key>Program Source Files Info</key>
	<dict>
		<key></key>
		<dict>
			<key>RootGroupId</key>
			<string>fruit_basket</string>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ListController Group IsExpanded</key>
				<true/>
			</dict>
		</dict>
		<key>CheckerTableCell</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>CheckerTableCell</string>
			<key>SourceItemChangeTime</key>
			<real>440448350.14295202</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>0</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1638</integer>
				<key>SrcEditor Visible Location</key>
				<integer>156</integer>
			</dict>
		</dict>
		<key>CheckerTableController</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>CheckerTableController</string>
			<key>SourceItemChangeTime</key>
			<real>445855696.79243702</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>461</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1610</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>CreateController</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>CreateController</string>
			<key>SourceItemChangeTime</key>
			<real>430320500.435013</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>0</integer>
				<key>SrcEditor Visible Length</key>
				<integer>139</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>DetailViewController</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>DetailViewController</string>
			<key>SourceItemChangeTime</key>
			<real>453830934.23542398</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>971</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1592</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>data</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>386698224</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ListController Group IsExpanded</key>
				<true/>
			</dict>
		</dict>
		<key>data.DetailViewController</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>453831353.584939</real>
			<key>SourceItemOriginalFilePath</key>
			<string>Ressources/DetailViewController.xib</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va4wFAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAoAQAAAQAAAADAwAAAAIAAAcAAAABAQAAVm9sdW1l
			cwAFAAAAAQEAAEJydW1lAAAAEAAAAAEBAABDZWxlZGV2IENvZGVG
			bG93HAAAAAEBAABDb2RlRmxvdyBTYW1wbGUgQXBwbGljYXRpb25z
			EAAAAAEBAABMdWFOYXZDb250cm9sbGVyCgAAAAEBAABSZXNzb3Vy
			Y2VzAAAYAAAAAQEAAERldGFpbFZpZXdDb250cm9sbGVyLnhpYhwA
			AAABBgAAEAAAACAAAAAwAAAASAAAAGwAAACEAAAAmAAAAAgAAAAE
			AwAAgzUAAAAAAAAIAAAABAMAAAIAAAAAAAAACAAAAAQDAAAVjwAA
			AAAAAAgAAAAEAwAABRUBAAAAAAAIAAAABAMAAA4WAQAAAAAACAAA
			AAQDAABXFwEAAAAAAAgAAAAEAwAAWRcBAAAAAAAcAAAAAQYAANwA
			AADsAAAA/AAAAAwBAAAcAQAALAEAADwBAAAIAAAAAAQAAEG6Apmg
			AAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAWAAAA
			AQkAAGZpbGU6Ly8vVm9sdW1lcy9CcnVtZS8AAAgAAAAEAwAAAMAd
			0gUAAAAIAAAAAAQAAEG66h3hAAAAJAAAAAEBAABDQjIzNUYxRC05
			NjIyLTMwQ0MtQTMwOC1DMzVEOEFEM0U3RDYYAAAAAQIAAAEBAAAB
			AAgA7xcAAAEACAAAAAAAAAAAAA4AAAABAQAAL1ZvbHVtZXMvQnJ1
			bWUAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBI
			RAgAAAAEAwAAAABGpwMBAAAIAAAAAAQAAEG4Iv/AAAAAJAAAAAEB
			AAAxQkIzNEI4QS03RjU5LTNDMjktOUJBOS0yMTNBRTg0OTM4NkUY
			AAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAA
			LwAAAGAAAAD+////APAAAAAAAAAHAAAAAiAAANQCAAAAAAAABSAA
			AEQCAAAAAAAAECAAAFQCAAAAAAAAESAAAIgCAAAAAAAAEiAAAGgC
			AAAAAAAAEyAAAHgCAAAAAAAAICAAALQCAAAAAAAABAAAAAMDAAAA
			8AAABAAAAAMDAAAAAAAABAAAAAMDAAABAAAAIAAAAAEGAABIAwAA
			VAMAAGADAABUAwAAVAMAAFQDAABUAwAAVAMAAAIBAAABAgAAMDdj
			YWE2MmViYjdiZTlhYmFlYzlmYmU1YzczYmI3YWMzZmUwYjZhNDsw
			MDAwMDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5h
			cHBsZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRlOzAwMDAwMDAxOzAx
			MDAwMDBlOzAwMDAwMDAwMDAwMTE3NTk7L3ZvbHVtZXMvYnJ1bWUv
			Y2VsZWRldiBjb2RlZmxvdy9jb2RlZmxvdyBzYW1wbGUgYXBwbGlj
			YXRpb25zL2x1YW5hdmNvbnRyb2xsZXIvcmVzc291cmNlcy9kZXRh
			aWx2aWV3Y29udHJvbGxlci54aWIAAAC0AAAA/v///wEAAADgAgAA
			DgAAAAQQAAC4AAAAAAAAAAUQAABMAQAAAAAAABAQAACAAQAAAAAA
			AEAQAABwAQAAAAAAAAAgAABsAwAAAAAAAAIgAAAsAgAAAAAAAAUg
			AACgAQAAAAAAABAgAAAgAAAAAAAAABEgAADgAQAAAAAAABIgAADA
			AQAAAAAAABMgAADQAQAAAAAAACAgAAAMAgAAAAAAABDQAAAEAAAA
			AAAAAIDwAACUAwAAAAAAAA==
			</data>
		</dict>
		<key>data.banane</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>431370334.54558098</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>1</real>
				<key>ImageViewerVisibleCenterX</key>
				<real>561.5</real>
				<key>ImageViewerVisibleCenterY</key>
				<real>328</real>
				<key>ImageViewerVisibleHeight</key>
				<real>151</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>202</real>
			</dict>
			<key>SourceItemOriginalFilePath</key>
			<string>Ressources/Images/banane2.png</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va6QFAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAuAQAAAQAAAADAwAAAAIAAAcAAAABAQAAVm9sdW1l
			cwAFAAAAAQEAAEJydW1lAAAAEAAAAAEBAABDZWxlZGV2IENvZGVG
			bG93HAAAAAEBAABDb2RlRmxvdyBTYW1wbGUgQXBwbGljYXRpb25z
			EAAAAAEBAABMdWFOYXZDb250cm9sbGVyCgAAAAEBAABSZXNzb3Vy
			Y2VzAAAGAAAAAQEAAEltYWdlcwAACwAAAAEBAABiYW5hbmUyLnBu
			ZwAgAAAAAQYAABAAAAAgAAAAMAAAAEgAAABsAAAAhAAAAJgAAACo
			AAAACAAAAAQDAACDNQAAAAAAAAgAAAAEAwAAAgAAAAAAAAAIAAAA
			BAMAABWPAAAAAAAACAAAAAQDAAAFFQEAAAAAAAgAAAAEAwAADhYB
			AAAAAAAIAAAABAMAAFcXAQAAAAAACAAAAAQDAABbFwEAAAAAAAgA
			AAAEAwAAXhcBAAAAAAAgAAAAAQYAAOQAAAD0AAAABAEAABQBAAAk
			AQAANAEAAEQBAABUAQAACAAAAAAEAABBuGNXWQAAABgAAAABAgAA
			AQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAAFgAAAAEJAABmaWxlOi8v
			L1ZvbHVtZXMvQnJ1bWUvAAAIAAAABAMAAADAHdIFAAAACAAAAAAE
			AABBuuod4QAAACQAAAABAQAAQ0IyMzVGMUQtOTYyMi0zMENDLUEz
			MDgtQzM1RDhBRDNFN0Q2GAAAAAECAAABAQAAAQAIAO8XAAABAAgA
			AAAAAAAAAAAOAAAAAQEAAC9Wb2x1bWVzL0JydW1lAAAIAAAAAQkA
			AGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAA
			RqcDAQAACAAAAAAEAABBuCL/wAAAACQAAAABAQAAMUJCMzRCOEEt
			N0Y1OS0zQzI5LTlCQTktMjEzQUU4NDkzODZFGAAAAAECAACBAAAA
			AQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAABgAAAA/v//
			/wDwAAAAAAAABwAAAAIgAADwAgAAAAAAAAUgAABgAgAAAAAAABAg
			AABwAgAAAAAAABEgAACkAgAAAAAAABIgAACEAgAAAAAAABMgAACU
			AgAAAAAAACAgAADQAgAAAAAAAAQAAAADAwAAAPAAAAQAAAADAwAA
			AAAAAAQAAAADAwAAAQAAACQAAAABBgAAZAMAAHADAAB8AwAAcAMA
			AHADAABwAwAAcAMAAHADAABwAwAA/AAAAAECAABiZDkzMzg5NWQ0
			OGE5OTcyZGNhNGRjYzM0NjgzYWY3ZTVkYmNiODUwOzAwMDAwMDAw
			OzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFw
			cC1zYW5kYm94LnJlYWQtd3JpdGU7MDAwMDAwMDE7MDEwMDAwMGU7
			MDAwMDAwMDAwMDAxMTc1ZTsvdm9sdW1lcy9icnVtZS9jZWxlZGV2
			IGNvZGVmbG93L2NvZGVmbG93IHNhbXBsZSBhcHBsaWNhdGlvbnMv
			bHVhbmF2Y29udHJvbGxlci9yZXNzb3VyY2VzL2ltYWdlcy9iYW5h
			bmUyLnBuZwC0AAAA/v///wEAAAD8AgAADgAAAAQQAAC8AAAAAAAA
			AAUQAABkAQAAAAAAABAQAACcAQAAAAAAAEAQAACMAQAAAAAAAAAg
			AACIAwAAAAAAAAIgAABIAgAAAAAAAAUgAAC8AQAAAAAAABAgAAAg
			AAAAAAAAABEgAAD8AQAAAAAAABIgAADcAQAAAAAAABMgAADsAQAA
			AAAAACAgAAAoAgAAAAAAABDQAAAEAAAAAAAAAIDwAAC0AwAAAAAA
			AA==
			</data>
		</dict>
		<key>data.checked</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>436376198.19531798</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>1</real>
				<key>ImageViewerVisibleCenterX</key>
				<real>561.5</real>
				<key>ImageViewerVisibleCenterY</key>
				<real>328</real>
				<key>ImageViewerVisibleHeight</key>
				<real>192</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>192</real>
			</dict>
			<key>SourceItemOriginalFilePath</key>
			<string>Ressources/Images/checked1.png</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va6gFAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAvAQAAAQAAAADAwAAAAIAAAcAAAABAQAAVm9sdW1l
			cwAFAAAAAQEAAEJydW1lAAAAEAAAAAEBAABDZWxlZGV2IENvZGVG
			bG93HAAAAAEBAABDb2RlRmxvdyBTYW1wbGUgQXBwbGljYXRpb25z
			EAAAAAEBAABMdWFOYXZDb250cm9sbGVyCgAAAAEBAABSZXNzb3Vy
			Y2VzAAAGAAAAAQEAAEltYWdlcwAADAAAAAEBAABjaGVja2VkMS5w
			bmcgAAAAAQYAABAAAAAgAAAAMAAAAEgAAABsAAAAhAAAAJgAAACo
			AAAACAAAAAQDAACDNQAAAAAAAAgAAAAEAwAAAgAAAAAAAAAIAAAA
			BAMAABWPAAAAAAAACAAAAAQDAAAFFQEAAAAAAAgAAAAEAwAADhYB
			AAAAAAAIAAAABAMAAFcXAQAAAAAACAAAAAQDAABbFwEAAAAAAAgA
			AAAEAwAAYRcBAAAAAAAgAAAAAQYAAOQAAAD0AAAABAEAABQBAAAk
			AQAANAEAAEQBAABUAQAACAAAAAAEAABBuNhI9QAAABgAAAABAgAA
			AQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAAFgAAAAEJAABmaWxlOi8v
			L1ZvbHVtZXMvQnJ1bWUvAAAIAAAABAMAAADAHdIFAAAACAAAAAAE
			AABBuuod4QAAACQAAAABAQAAQ0IyMzVGMUQtOTYyMi0zMENDLUEz
			MDgtQzM1RDhBRDNFN0Q2GAAAAAECAAABAQAAAQAIAO8XAAABAAgA
			AAAAAAAAAAAOAAAAAQEAAC9Wb2x1bWVzL0JydW1lAAAIAAAAAQkA
			AGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAA
			RqcDAQAACAAAAAAEAABBuCL/wAAAACQAAAABAQAAMUJCMzRCOEEt
			N0Y1OS0zQzI5LTlCQTktMjEzQUU4NDkzODZFGAAAAAECAACBAAAA
			AQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAABgAAAA/v//
			/wDwAAAAAAAABwAAAAIgAADwAgAAAAAAAAUgAABgAgAAAAAAABAg
			AABwAgAAAAAAABEgAACkAgAAAAAAABIgAACEAgAAAAAAABMgAACU
			AgAAAAAAACAgAADQAgAAAAAAAAQAAAADAwAAAPAAAAQAAAADAwAA
			AAAAAAQAAAADAwAAAQAAACQAAAABBgAAZAMAAHADAAB8AwAAcAMA
			AHADAABwAwAAcAMAAHADAABwAwAA/QAAAAECAAA1YTY3NzczZDNj
			Y2FjNjdlNWI3NDhmMTM4ZjkzZTljZWQzMDc4MGQ5OzAwMDAwMDAw
			OzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFw
			cC1zYW5kYm94LnJlYWQtd3JpdGU7MDAwMDAwMDE7MDEwMDAwMGU7
			MDAwMDAwMDAwMDAxMTc2MTsvdm9sdW1lcy9icnVtZS9jZWxlZGV2
			IGNvZGVmbG93L2NvZGVmbG93IHNhbXBsZSBhcHBsaWNhdGlvbnMv
			bHVhbmF2Y29udHJvbGxlci9yZXNzb3VyY2VzL2ltYWdlcy9jaGVj
			a2VkMS5wbmcAAAAAtAAAAP7///8BAAAA/AIAAA4AAAAEEAAAvAAA
			AAAAAAAFEAAAZAEAAAAAAAAQEAAAnAEAAAAAAABAEAAAjAEAAAAA
			AAAAIAAAiAMAAAAAAAACIAAASAIAAAAAAAAFIAAAvAEAAAAAAAAQ
			IAAAIAAAAAAAAAARIAAA/AEAAAAAAAASIAAA3AEAAAAAAAATIAAA
			7AEAAAAAAAAgIAAAKAIAAAAAAAAQ0AAABAAAAAAAAACA8AAAtAMA
			AAAAAAA=
			</data>
		</dict>
		<key>data.oranges</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>435797284.54196602</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>0.82986027259713191</real>
				<key>ImageViewerVisibleCenterX</key>
				<real>561.5</real>
				<key>ImageViewerVisibleCenterY</key>
				<real>328</real>
				<key>ImageViewerVisibleHeight</key>
				<real>225</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>310</real>
			</dict>
			<key>SourceItemOriginalFilePath</key>
			<string>Ressources/Images/orange.jpeg</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va6QFAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAuAQAAAQAAAADAwAAAAIAAAcAAAABAQAAVm9sdW1l
			cwAFAAAAAQEAAEJydW1lAAAAEAAAAAEBAABDZWxlZGV2IENvZGVG
			bG93HAAAAAEBAABDb2RlRmxvdyBTYW1wbGUgQXBwbGljYXRpb25z
			EAAAAAEBAABMdWFOYXZDb250cm9sbGVyCgAAAAEBAABSZXNzb3Vy
			Y2VzAAAGAAAAAQEAAEltYWdlcwAACwAAAAEBAABvcmFuZ2UuanBl
			ZwAgAAAAAQYAABAAAAAgAAAAMAAAAEgAAABsAAAAhAAAAJgAAACo
			AAAACAAAAAQDAACDNQAAAAAAAAgAAAAEAwAAAgAAAAAAAAAIAAAA
			BAMAABWPAAAAAAAACAAAAAQDAAAFFQEAAAAAAAgAAAAEAwAADhYB
			AAAAAAAIAAAABAMAAFcXAQAAAAAACAAAAAQDAABbFwEAAAAAAAgA
			AAAEAwAAYxcBAAAAAAAgAAAAAQYAAOQAAAD0AAAABAEAABQBAAAk
			AQAANAEAAEQBAABUAQAACAAAAAAEAABBugKZoAAAABgAAAABAgAA
			AQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAAFgAAAAEJAABmaWxlOi8v
			L1ZvbHVtZXMvQnJ1bWUvAAAIAAAABAMAAADAHdIFAAAACAAAAAAE
			AABBuuod4QAAACQAAAABAQAAQ0IyMzVGMUQtOTYyMi0zMENDLUEz
			MDgtQzM1RDhBRDNFN0Q2GAAAAAECAAABAQAAAQAIAO8XAAABAAgA
			AAAAAAAAAAAOAAAAAQEAAC9Wb2x1bWVzL0JydW1lAAAIAAAAAQkA
			AGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAA
			RqcDAQAACAAAAAAEAABBuCL/wAAAACQAAAABAQAAMUJCMzRCOEEt
			N0Y1OS0zQzI5LTlCQTktMjEzQUU4NDkzODZFGAAAAAECAACBAAAA
			AQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAABgAAAA/v//
			/wDwAAAAAAAABwAAAAIgAADwAgAAAAAAAAUgAABgAgAAAAAAABAg
			AABwAgAAAAAAABEgAACkAgAAAAAAABIgAACEAgAAAAAAABMgAACU
			AgAAAAAAACAgAADQAgAAAAAAAAQAAAADAwAAAPAAAAQAAAADAwAA
			AAAAAAQAAAADAwAAAQAAACQAAAABBgAAZAMAAHADAAB8AwAAcAMA
			AHADAABwAwAAcAMAAHADAABwAwAA/AAAAAECAAA0NTEwODVkZTgx
			MWM3YmJmZjhhYzNjZTk2OWQ2YzhhMjhkZjYzYzUzOzAwMDAwMDAw
			OzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFw
			cC1zYW5kYm94LnJlYWQtd3JpdGU7MDAwMDAwMDE7MDEwMDAwMGU7
			MDAwMDAwMDAwMDAxMTc2Mzsvdm9sdW1lcy9icnVtZS9jZWxlZGV2
			IGNvZGVmbG93L2NvZGVmbG93IHNhbXBsZSBhcHBsaWNhdGlvbnMv
			bHVhbmF2Y29udHJvbGxlci9yZXNzb3VyY2VzL2ltYWdlcy9vcmFu
			Z2UuanBlZwC0AAAA/v///wEAAAD8AgAADgAAAAQQAAC8AAAAAAAA
			AAUQAABkAQAAAAAAABAQAACcAQAAAAAAAEAQAACMAQAAAAAAAAAg
			AACIAwAAAAAAAAIgAABIAgAAAAAAAAUgAAC8AQAAAAAAABAgAAAg
			AAAAAAAAABEgAAD8AQAAAAAAABIgAADcAQAAAAAAABMgAADsAQAA
			AAAAACAgAAAoAgAAAAAAABDQAAAEAAAAAAAAAIDwAAC0AwAAAAAA
			AA==
			</data>
		</dict>
		<key>data.poire</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>430400549.561432</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>1</real>
				<key>ImageViewerVisibleCenterX</key>
				<real>561.5</real>
				<key>ImageViewerVisibleCenterY</key>
				<real>328</real>
				<key>ImageViewerVisibleHeight</key>
				<real>281</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>179</real>
			</dict>
			<key>SourceItemOriginalFilePath</key>
			<string>Ressources/Images/poire.jpeg</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va6QFAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAuAQAAAQAAAADAwAAAAIAAAcAAAABAQAAVm9sdW1l
			cwAFAAAAAQEAAEJydW1lAAAAEAAAAAEBAABDZWxlZGV2IENvZGVG
			bG93HAAAAAEBAABDb2RlRmxvdyBTYW1wbGUgQXBwbGljYXRpb25z
			EAAAAAEBAABMdWFOYXZDb250cm9sbGVyCgAAAAEBAABSZXNzb3Vy
			Y2VzAAAGAAAAAQEAAEltYWdlcwAACgAAAAEBAABwb2lyZS5qcGVn
			AAAgAAAAAQYAABAAAAAgAAAAMAAAAEgAAABsAAAAhAAAAJgAAACo
			AAAACAAAAAQDAACDNQAAAAAAAAgAAAAEAwAAAgAAAAAAAAAIAAAA
			BAMAABWPAAAAAAAACAAAAAQDAAAFFQEAAAAAAAgAAAAEAwAADhYB
			AAAAAAAIAAAABAMAAFcXAQAAAAAACAAAAAQDAABbFwEAAAAAAAgA
			AAAEAwAAZRcBAAAAAAAgAAAAAQYAAOQAAAD0AAAABAEAABQBAAAk
			AQAANAEAAEQBAABUAQAACAAAAAAEAABBtxm2tgAAABgAAAABAgAA
			AQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAAFgAAAAEJAABmaWxlOi8v
			L1ZvbHVtZXMvQnJ1bWUvAAAIAAAABAMAAADAHdIFAAAACAAAAAAE
			AABBuuod4QAAACQAAAABAQAAQ0IyMzVGMUQtOTYyMi0zMENDLUEz
			MDgtQzM1RDhBRDNFN0Q2GAAAAAECAAABAQAAAQAIAO8XAAABAAgA
			AAAAAAAAAAAOAAAAAQEAAC9Wb2x1bWVzL0JydW1lAAAIAAAAAQkA
			AGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAA
			RqcDAQAACAAAAAAEAABBuCL/wAAAACQAAAABAQAAMUJCMzRCOEEt
			N0Y1OS0zQzI5LTlCQTktMjEzQUU4NDkzODZFGAAAAAECAACBAAAA
			AQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAABgAAAA/v//
			/wDwAAAAAAAABwAAAAIgAADwAgAAAAAAAAUgAABgAgAAAAAAABAg
			AABwAgAAAAAAABEgAACkAgAAAAAAABIgAACEAgAAAAAAABMgAACU
			AgAAAAAAACAgAADQAgAAAAAAAAQAAAADAwAAAPAAAAQAAAADAwAA
			AAAAAAQAAAADAwAAAQAAACQAAAABBgAAZAMAAHADAAB8AwAAcAMA
			AHADAABwAwAAcAMAAHADAABwAwAA+wAAAAECAAA5YzI4OWI3ZTg4
			NDhhNTA3NmFiODRiOWZkOTI3MjkxZTZhOGY0OTdlOzAwMDAwMDAw
			OzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFw
			cC1zYW5kYm94LnJlYWQtd3JpdGU7MDAwMDAwMDE7MDEwMDAwMGU7
			MDAwMDAwMDAwMDAxMTc2NTsvdm9sdW1lcy9icnVtZS9jZWxlZGV2
			IGNvZGVmbG93L2NvZGVmbG93IHNhbXBsZSBhcHBsaWNhdGlvbnMv
			bHVhbmF2Y29udHJvbGxlci9yZXNzb3VyY2VzL2ltYWdlcy9wb2ly
			ZS5qcGVnAAC0AAAA/v///wEAAAD8AgAADgAAAAQQAAC8AAAAAAAA
			AAUQAABkAQAAAAAAABAQAACcAQAAAAAAAEAQAACMAQAAAAAAAAAg
			AACIAwAAAAAAAAIgAABIAgAAAAAAAAUgAAC8AQAAAAAAABAgAAAg
			AAAAAAAAABEgAAD8AQAAAAAAABIgAADcAQAAAAAAABMgAADsAQAA
			AAAAACAgAAAoAgAAAAAAABDQAAAEAAAAAAAAAIDwAAC0AwAAAAAA
			AA==
			</data>
		</dict>
		<key>data.pommes</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>431371589.06039101</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>2.8889254957726891</real>
				<key>ImageViewerVisibleCenterX</key>
				<real>561.5</real>
				<key>ImageViewerVisibleCenterY</key>
				<real>328</real>
				<key>ImageViewerVisibleHeight</key>
				<real>183</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>276</real>
			</dict>
			<key>SourceItemOriginalFilePath</key>
			<string>Ressources/Images/pommes.jpeg</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va6QFAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAuAQAAAQAAAADAwAAAAIAAAcAAAABAQAAVm9sdW1l
			cwAFAAAAAQEAAEJydW1lAAAAEAAAAAEBAABDZWxlZGV2IENvZGVG
			bG93HAAAAAEBAABDb2RlRmxvdyBTYW1wbGUgQXBwbGljYXRpb25z
			EAAAAAEBAABMdWFOYXZDb250cm9sbGVyCgAAAAEBAABSZXNzb3Vy
			Y2VzAAAGAAAAAQEAAEltYWdlcwAACwAAAAEBAABwb21tZXMuanBl
			ZwAgAAAAAQYAABAAAAAgAAAAMAAAAEgAAABsAAAAhAAAAJgAAACo
			AAAACAAAAAQDAACDNQAAAAAAAAgAAAAEAwAAAgAAAAAAAAAIAAAA
			BAMAABWPAAAAAAAACAAAAAQDAAAFFQEAAAAAAAgAAAAEAwAADhYB
			AAAAAAAIAAAABAMAAFcXAQAAAAAACAAAAAQDAABbFwEAAAAAAAgA
			AAAEAwAAZxcBAAAAAAAgAAAAAQYAAOQAAAD0AAAABAEAABQBAAAk
			AQAANAEAAEQBAABUAQAACAAAAAAEAABBuMS2gwAAABgAAAABAgAA
			AQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAAFgAAAAEJAABmaWxlOi8v
			L1ZvbHVtZXMvQnJ1bWUvAAAIAAAABAMAAADAHdIFAAAACAAAAAAE
			AABBuuod4QAAACQAAAABAQAAQ0IyMzVGMUQtOTYyMi0zMENDLUEz
			MDgtQzM1RDhBRDNFN0Q2GAAAAAECAAABAQAAAQAIAO8XAAABAAgA
			AAAAAAAAAAAOAAAAAQEAAC9Wb2x1bWVzL0JydW1lAAAIAAAAAQkA
			AGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAA
			RqcDAQAACAAAAAAEAABBuCL/wAAAACQAAAABAQAAMUJCMzRCOEEt
			N0Y1OS0zQzI5LTlCQTktMjEzQUU4NDkzODZFGAAAAAECAACBAAAA
			AQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAABgAAAA/v//
			/wDwAAAAAAAABwAAAAIgAADwAgAAAAAAAAUgAABgAgAAAAAAABAg
			AABwAgAAAAAAABEgAACkAgAAAAAAABIgAACEAgAAAAAAABMgAACU
			AgAAAAAAACAgAADQAgAAAAAAAAQAAAADAwAAAPAAAAQAAAADAwAA
			AAAAAAQAAAADAwAAAQAAACQAAAABBgAAZAMAAHADAAB8AwAAcAMA
			AHADAABwAwAAcAMAAHADAABwAwAA/AAAAAECAABiNjYzOWEyYTQ2
			YTViZmY4Y2E5ZjI0Y2RjN2Y1ODE0MDY0NTU0NTk4OzAwMDAwMDAw
			OzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFw
			cC1zYW5kYm94LnJlYWQtd3JpdGU7MDAwMDAwMDE7MDEwMDAwMGU7
			MDAwMDAwMDAwMDAxMTc2Nzsvdm9sdW1lcy9icnVtZS9jZWxlZGV2
			IGNvZGVmbG93L2NvZGVmbG93IHNhbXBsZSBhcHBsaWNhdGlvbnMv
			bHVhbmF2Y29udHJvbGxlci9yZXNzb3VyY2VzL2ltYWdlcy9wb21t
			ZXMuanBlZwC0AAAA/v///wEAAAD8AgAADgAAAAQQAAC8AAAAAAAA
			AAUQAABkAQAAAAAAABAQAACcAQAAAAAAAEAQAACMAQAAAAAAAAAg
			AACIAwAAAAAAAAIgAABIAgAAAAAAAAUgAAC8AQAAAAAAABAgAAAg
			AAAAAAAAABEgAAD8AQAAAAAAABIgAADcAQAAAAAAABMgAADsAQAA
			AAAAACAgAAAoAgAAAAAAABDQAAAEAAAAAAAAAIDwAAC0AwAAAAAA
			AA==
			</data>
		</dict>
		<key>data.tableItems</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>435796980.47273499</real>
			<key>SourceItemOriginalFilePath</key>
			<string>Ressources/tableData.plist</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va3wFAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAkAQAAAQAAAADAwAAAAIAAAcAAAABAQAAVm9sdW1l
			cwAFAAAAAQEAAEJydW1lAAAAEAAAAAEBAABDZWxlZGV2IENvZGVG
			bG93HAAAAAEBAABDb2RlRmxvdyBTYW1wbGUgQXBwbGljYXRpb25z
			EAAAAAEBAABMdWFOYXZDb250cm9sbGVyCgAAAAEBAABSZXNzb3Vy
			Y2VzAAAPAAAAAQEAAHRhYmxlRGF0YS5wbGlzdAAcAAAAAQYAABAA
			AAAgAAAAMAAAAEgAAABsAAAAhAAAAJgAAAAIAAAABAMAAIM1AAAA
			AAAACAAAAAQDAAACAAAAAAAAAAgAAAAEAwAAFY8AAAAAAAAIAAAA
			BAMAAAUVAQAAAAAACAAAAAQDAAAOFgEAAAAAAAgAAAAEAwAAVxcB
			AAAAAAAIAAAABAMAAGsXAQAAAAAAHAAAAAEGAADUAAAA5AAAAPQA
			AAAEAQAAFAEAACQBAAA0AQAACAAAAAAEAABBuRwd9gAAABgAAAAB
			AgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAAFgAAAAEJAABmaWxl
			Oi8vL1ZvbHVtZXMvQnJ1bWUvAAAIAAAABAMAAADAHdIFAAAACAAA
			AAAEAABBuuod4QAAACQAAAABAQAAQ0IyMzVGMUQtOTYyMi0zMEND
			LUEzMDgtQzM1RDhBRDNFN0Q2GAAAAAECAAABAQAAAQAIAO8XAAAB
			AAgAAAAAAAAAAAAOAAAAAQEAAC9Wb2x1bWVzL0JydW1lAAAIAAAA
			AQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMA
			AAAARqcDAQAACAAAAAAEAABBuCL/wAAAACQAAAABAQAAMUJCMzRC
			OEEtN0Y1OS0zQzI5LTlCQTktMjEzQUU4NDkzODZFGAAAAAECAACB
			AAAAAQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAABgAAAA
			/v///wDwAAAAAAAABwAAAAIgAADMAgAAAAAAAAUgAAA8AgAAAAAA
			ABAgAABMAgAAAAAAABEgAACAAgAAAAAAABIgAABgAgAAAAAAABMg
			AABwAgAAAAAAACAgAACsAgAAAAAAAAQAAAADAwAAAPAAAAQAAAAD
			AwAAAAAAAAQAAAADAwAAAQAAACAAAAABBgAAQAMAAEwDAABYAwAA
			TAMAAEwDAABMAwAATAMAAEwDAAD5AAAAAQIAAGZiZTNkMjhlNjA2
			NmUzYzVhNWI2YWU2N2E5NTBjOWEwNWQzZTliMzc7MDAwMDAwMDA7
			MDAwMDAwMDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBw
			LXNhbmRib3gucmVhZC13cml0ZTswMDAwMDAwMTswMTAwMDAwZTsw
			MDAwMDAwMDAwMDExNzZiOy92b2x1bWVzL2JydW1lL2NlbGVkZXYg
			Y29kZWZsb3cvY29kZWZsb3cgc2FtcGxlIGFwcGxpY2F0aW9ucy9s
			dWFuYXZjb250cm9sbGVyL3Jlc3NvdXJjZXMvdGFibGVkYXRhLnBs
			aXN0AAAAALQAAAD+////AQAAANgCAAAOAAAABBAAALAAAAAAAAAA
			BRAAAEQBAAAAAAAAEBAAAHgBAAAAAAAAQBAAAGgBAAAAAAAAACAA
			AGQDAAAAAAAAAiAAACQCAAAAAAAABSAAAJgBAAAAAAAAECAAACAA
			AAAAAAAAESAAANgBAAAAAAAAEiAAALgBAAAAAAAAEyAAAMgBAAAA
			AAAAICAAAAQCAAAAAAAAENAAAAQAAAAAAAAAgPAAAIwDAAAAAAAA
			</data>
		</dict>
		<key>data.unchecked</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>421272994.60305899</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>4.3995451130218646</real>
				<key>ImageViewerVisibleHeight</key>
				<real>128</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>128</real>
			</dict>
			<key>SourceItemOriginalFilePath</key>
			<string>Ressources/Images/unchecked1.png</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va6wFAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAwAQAAAQAAAADAwAAAAIAAAcAAAABAQAAVm9sdW1l
			cwAFAAAAAQEAAEJydW1lAAAAEAAAAAEBAABDZWxlZGV2IENvZGVG
			bG93HAAAAAEBAABDb2RlRmxvdyBTYW1wbGUgQXBwbGljYXRpb25z
			EAAAAAEBAABMdWFOYXZDb250cm9sbGVyCgAAAAEBAABSZXNzb3Vy
			Y2VzAAAGAAAAAQEAAEltYWdlcwAADgAAAAEBAAB1bmNoZWNrZWQx
			LnBuZwAAIAAAAAEGAAAQAAAAIAAAADAAAABIAAAAbAAAAIQAAACY
			AAAAqAAAAAgAAAAEAwAAgzUAAAAAAAAIAAAABAMAAAIAAAAAAAAA
			CAAAAAQDAAAVjwAAAAAAAAgAAAAEAwAABRUBAAAAAAAIAAAABAMA
			AA4WAQAAAAAACAAAAAQDAABXFwEAAAAAAAgAAAAEAwAAWxcBAAAA
			AAAIAAAABAMAAGoXAQAAAAAAIAAAAAEGAADoAAAA+AAAAAgBAAAY
			AQAAKAEAADgBAABIAQAAWAEAAAgAAAAABAAAQbgZjTMAAAAYAAAA
			AQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAABYAAAABCQAAZmls
			ZTovLy9Wb2x1bWVzL0JydW1lLwAACAAAAAQDAAAAwB3SBQAAAAgA
			AAAABAAAQbrqHeEAAAAkAAAAAQEAAENCMjM1RjFELTk2MjItMzBD
			Qy1BMzA4LUMzNUQ4QUQzRTdENhgAAAABAgAAAQEAAAEACADvFwAA
			AQAIAAAAAAAAAAAADgAAAAEBAAAvVm9sdW1lcy9CcnVtZQAACAAA
			AAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQD
			AAAAAEanAwEAAAgAAAAABAAAQbgi/8AAAAAkAAAAAQEAADFCQjM0
			QjhBLTdGNTktM0MyOS05QkE5LTIxM0FFODQ5Mzg2RRgAAAABAgAA
			gQAAAAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAYAAA
			AP7///8A8AAAAAAAAAcAAAACIAAA9AIAAAAAAAAFIAAAZAIAAAAA
			AAAQIAAAdAIAAAAAAAARIAAAqAIAAAAAAAASIAAAiAIAAAAAAAAT
			IAAAmAIAAAAAAAAgIAAA1AIAAAAAAAAEAAAAAwMAAADwAAAEAAAA
			AwMAAAAAAAAEAAAAAwMAAAEAAAAkAAAAAQYAAGgDAAB0AwAAgAMA
			AHQDAAB0AwAAdAMAAHQDAAB0AwAAdAMAAP8AAAABAgAAMDg3ZDU1
			NGIzNTEzMWJiYzA1NDU2Y2QwZTAzZTdmZjhmYmYzYTk4NTswMDAw
			MDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBs
			ZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRlOzAwMDAwMDAxOzAxMDAw
			MDBlOzAwMDAwMDAwMDAwMTE3NmE7L3ZvbHVtZXMvYnJ1bWUvY2Vs
			ZWRldiBjb2RlZmxvdy9jb2RlZmxvdyBzYW1wbGUgYXBwbGljYXRp
			b25zL2x1YW5hdmNvbnRyb2xsZXIvcmVzc291cmNlcy9pbWFnZXMv
			dW5jaGVja2VkMS5wbmcAALQAAAD+////AQAAAAADAAAOAAAABBAA
			AMAAAAAAAAAABRAAAGgBAAAAAAAAEBAAAKABAAAAAAAAQBAAAJAB
			AAAAAAAAACAAAIwDAAAAAAAAAiAAAEwCAAAAAAAABSAAAMABAAAA
			AAAAECAAACAAAAAAAAAAESAAAAACAAAAAAAAEiAAAOABAAAAAAAA
			EyAAAPABAAAAAAAAICAAACwCAAAAAAAAENAAAAQAAAAAAAAAgPAA
			ALgDAAAAAAAA
			</data>
		</dict>
	</dict>
</dict>
</plist>
