<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Program Bindings Libs</key>
	<array>
		<dict>
			<key>LibBookmark</key>
			<data>
			Ym9va0AEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAPAMAAAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGpl
			YW4tbHVjBwAAAAEBAABMaWJyYXJ5ABMAAAABAQAAQXBwbGljYXRp
			b24gU3VwcG9ydAAUAAAAAQEAAGNvbS5jZWxlZGV2LkNvZGVGbG93
			CAAAAAEBAABpcGhvbmVvcxcAAAABAQAAaU9TLTguMS1TREsubHVh
			YmluZGluZ3MAHAAAAAEGAAAEAAAAFAAAACQAAAA0AAAAUAAAAGwA
			AAB8AAAACAAAAAQDAAB8ZAIAAAAAAAgAAAAEAwAAw3tOAAAAAAAI
			AAAABAMAADh8TgAAAAAACAAAAAQDAAA+fE4AAAAAAAgAAAAEAwAA
			WmJUAAAAAAAIAAAABAMAAFxiVAAAAAAACAAAAAQDAACevcgAAAAA
			ABwAAAABBgAAwAAAANAAAADgAAAA8AAAAAABAAAQAQAAIAEAAAgA
			AAAABAAAQboegwcAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAA
			AAAAAAAAAAgAAAAEAwAABQAAAAAAAAAEAAAAAwMAAPcBAAAMAAAA
			AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAAAGzgMBAAAIAAAAAAQA
			AEG4Iv/AAAAAJAAAAAEBAAAxQkIzNEI4QS03RjU5LTNDMjktOUJB
			OS0yMTNBRTg0OTM4NkUYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAA
			AAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAABAAAAAMDAAAAAwAA
			8gAAAAECAAA3ZGNlODAzNjdiZGY0OGRlZWU3YWQwOTE5NDNmMGM2
			ZTY4ODBlOGE0OzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAw
			MDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7
			MDAwMDAwMDE7MDEwMDAwMDg7MDAwMDAwMDAwMGM4YmQ5ZTsvdXNl
			cnMvamVhbi1sdWMvbGlicmFyeS9hcHBsaWNhdGlvbiBzdXBwb3J0
			L2NvbS5jZWxlZGV2LmNvZGVmbG93L2lwaG9uZW9zL2lvcy04LjEt
			c2RrLmx1YWJpbmRpbmdzAAAAzAAAAP7///8BAAAAAAAAABAAAAAE
			EAAAnAAAAAAAAAAFEAAAMAEAAAAAAAAQEAAAZAEAAAAAAABAEAAA
			VAEAAAAAAAACIAAAIAIAAAAAAAAQIAAAoAEAAAAAAAARIAAA1AEA
			AAAAAAASIAAAtAEAAAAAAAATIAAAxAEAAAAAAAAgIAAAAAIAAAAA
			AAAwIAAALAIAAAAAAAABwAAAhAEAAAAAAAARwAAAFAAAAAAAAAAS
			wAAAlAEAAAAAAAAQ0AAANAIAAAAAAACA8AAAQAIAAAAAAAA=
			</data>
			<key>LibDirPath</key>
			<string>iphoneos</string>
			<key>LibId</key>
			<string>apple_sdk_iphoneos8.1</string>
			<key>LibName</key>
			<string>iOS</string>
			<key>LibUrl</key>
			<string>file:///Users/jean-luc/Library/Application%20Support/com.celedev.CodeFlow/iphoneos/iOS-8.1-SDK.luabindings/</string>
		</dict>
	</array>
	<key>Program Display Info</key>
	<dict>
		<key>LuaAppDocument remote Lua service</key>
		<string>LuaNavController - Main (Astérie)</string>
		<key>LuaAppDocument-associatedXodeProject</key>
		<dict>
			<key>platform</key>
			<string>iphoneos</string>
			<key>project</key>
			<string>LuaNavController.xcodeproj</string>
			<key>target</key>
			<string>LuaNavController</string>
		</dict>
		<key>LuaAppWindow edited source path</key>
		<string>DetailViewController</string>
		<key>LuaAppWindow frame</key>
		<string>997 605 1271 733 0 0 2560 1418 </string>
	</dict>
	<key>Program Format Version</key>
	<string>0.9</string>
	<key>Program Groups Order</key>
	<dict>
		<key></key>
		<array>
			<string>CreateController</string>
			<string>CheckerTableController</string>
			<string>CheckerTableCell</string>
			<string>DetailViewController</string>
			<string>data</string>
		</array>
		<key>data</key>
		<array>
			<string>tableItems</string>
			<string>DetailViewController</string>
			<string>banane</string>
			<string>poire</string>
			<string>pommes</string>
			<string>oranges</string>
			<string>checked</string>
			<string>unchecked</string>
		</array>
	</dict>
	<key>Program Source Files Info</key>
	<dict>
		<key></key>
		<dict>
			<key>RootGroupId</key>
			<string>fruit_basket</string>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ListController Group IsExpanded</key>
				<true/>
			</dict>
		</dict>
		<key>CheckerTableCell</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>CheckerTableCell</string>
			<key>SourceItemChangeTime</key>
			<real>434821498.81342298</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>0</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1640</integer>
				<key>SrcEditor Visible Location</key>
				<integer>7660</integer>
			</dict>
		</dict>
		<key>CheckerTableController</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>CheckerTableController</string>
			<key>SourceItemChangeTime</key>
			<real>436375047.78429002</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>11</integer>
				<key>SrcEditor Selected Location</key>
				<integer>1048</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1454</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>CreateController</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>CreateController</string>
			<key>SourceItemChangeTime</key>
			<real>430320500.435013</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>0</integer>
				<key>SrcEditor Visible Length</key>
				<integer>139</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>DetailViewController</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>DetailViewController</string>
			<key>SourceItemChangeTime</key>
			<real>438259744.59695399</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>1036</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1544</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>data</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>386698224</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ListController Group IsExpanded</key>
				<true/>
			</dict>
		</dict>
		<key>data.DetailViewController</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>438259558.10723501</real>
			<key>SourceItemOriginalFilePath</key>
			<string>Ressources/DetailViewController.xib</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va6AEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAnAMAAAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGpl
			YW4tbHVjDQAAAAEBAABEZXZlbG9wcGVtZW50AAAAEAAAAAEBAABD
			ZWxlZGV2IENvZGVGbG93HAAAAAEBAABDb2RlRmxvdyBTYW1wbGUg
			QXBwbGljYXRpb25zEAAAAAEBAABMdWFOYXZDb250cm9sbGVyCgAA
			AAEBAABSZXNzb3VyY2VzAAAYAAAAAQEAAERldGFpbFZpZXdDb250
			cm9sbGVyLnhpYiAAAAABBgAABAAAABQAAAAkAAAAPAAAAFQAAAB4
			AAAAkAAAAKQAAAAIAAAABAMAAHxkAgAAAAAACAAAAAQDAADDe04A
			AAAAAAgAAAAEAwAANYNOAAAAAAAIAAAABAMAAFJTTwAAAAAACAAA
			AAQDAABuvE8AAAAAAAgAAAAEAwAAI9RcAAAAAAAIAAAABAMAAFfU
			XAAAAAAACAAAAAQDAAAfn7EAAAAAACAAAAABBgAA7AAAAPwAAAAM
			AQAAHAEAACwBAAA8AQAATAEAAFwBAAAIAAAAAAQAAEG6ApmgAAAA
			GAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMA
			AAYAAAAAAAAABAAAAAMDAAD3AQAADAAAAAEBAABNYWNpbnRvc2gg
			SEQIAAAABAMAAAAABs4DAQAACAAAAAAEAABBuCL/wAAAACQAAAAB
			AQAAMUJCMzRCOEEtN0Y1OS0zQzI5LTlCQTktMjEzQUU4NDkzODZF
			GAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEA
			AC8AAAAAAAAAAQUAAAQAAAADAwAAAAMAABEBAAABAgAAYTUyM2Iy
			NjEwNTE2MTZjNDdlODg1YTVlMGE3YjA4YjNiMGNiZTc0MjswMDAw
			MDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBs
			ZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRlOzAwMDAwMDAxOzAxMDAw
			MDA4OzAwMDAwMDAwMDBiMTlmMWY7L3VzZXJzL2plYW4tbHVjL2Rl
			dmVsb3BwZW1lbnQvY2VsZWRldiBjb2RlZmxvdy9jb2RlZmxvdyBz
			YW1wbGUgYXBwbGljYXRpb25zL2x1YW5hdmNvbnRyb2xsZXIvcmVz
			c291cmNlcy9kZXRhaWx2aWV3Y29udHJvbGxlci54aWIAAAAAzAAA
			AP7///8BAAAAAAAAABAAAAAEEAAAxAAAAAAAAAAFEAAAbAEAAAAA
			AAAQEAAApAEAAAAAAABAEAAAlAEAAAAAAAACIAAAYAIAAAAAAAAQ
			IAAA4AEAAAAAAAARIAAAFAIAAAAAAAASIAAA9AEAAAAAAAATIAAA
			BAIAAAAAAAAgIAAAQAIAAAAAAAAwIAAAbAIAAAAAAAABwAAAxAEA
			AAAAAAARwAAAFAAAAAAAAAASwAAA1AEAAAAAAAAQ0AAAdAIAAAAA
			AACA8AAAgAIAAAAAAAA=
			</data>
		</dict>
		<key>data.banane</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>431370334.54558098</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>1</real>
				<key>ImageViewerVisibleCenterX</key>
				<real>561.5</real>
				<key>ImageViewerVisibleCenterY</key>
				<real>328</real>
				<key>ImageViewerVisibleHeight</key>
				<real>151</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>202</real>
			</dict>
			<key>SourceItemOriginalFilePath</key>
			<string>Ressources/Images/banane2.png</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va7QEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAsAMAAAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGpl
			YW4tbHVjDQAAAAEBAABEZXZlbG9wcGVtZW50AAAAEAAAAAEBAABD
			ZWxlZGV2IENvZGVGbG93HAAAAAEBAABDb2RlRmxvdyBTYW1wbGUg
			QXBwbGljYXRpb25zEAAAAAEBAABMdWFOYXZDb250cm9sbGVyCgAA
			AAEBAABSZXNzb3VyY2VzAAAGAAAAAQEAAEltYWdlcwAACwAAAAEB
			AABiYW5hbmUyLnBuZwAkAAAAAQYAAAQAAAAUAAAAJAAAADwAAABU
			AAAAeAAAAJAAAACkAAAAtAAAAAgAAAAEAwAAfGQCAAAAAAAIAAAA
			BAMAAMN7TgAAAAAACAAAAAQDAAA1g04AAAAAAAgAAAAEAwAAUlNP
			AAAAAAAIAAAABAMAAG68TwAAAAAACAAAAAQDAAAj1FwAAAAAAAgA
			AAAEAwAAV9RcAAAAAAAIAAAABAMAAFvUXAAAAAAACAAAAAQDAAD5
			c2EAAAAAACQAAAABBgAA9AAAAAQBAAAUAQAAJAEAADQBAABEAQAA
			VAEAAGQBAAB0AQAACAAAAAAEAABBuGNXWQAAABgAAAABAgAAAQAA
			AAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAHAAAAAAAAAAQA
			AAADAwAA9wEAAAwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAA
			AAbOAwEAAAgAAAAABAAAQbgi/8AAAAAkAAAAAQEAADFCQjM0QjhB
			LTdGNTktM0MyOS05QkE5LTIxM0FFODQ5Mzg2RRgAAAABAgAAgQAA
			AAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEF
			AAAEAAAAAwMAAAADAAALAQAAAQIAADY3MjFhOTUwOTJmZDYwNGJh
			YWMyNTFkNTAyNjk2YzY4YjZhY2ZkN2I7MDAwMDAwMDA7MDAwMDAw
			MDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRi
			b3gucmVhZC13cml0ZTswMDAwMDAwMTswMTAwMDAwODswMDAwMDAw
			MDAwNjE3M2Y5Oy91c2Vycy9qZWFuLWx1Yy9kZXZlbG9wcGVtZW50
			L2NlbGVkZXYgY29kZWZsb3cvY29kZWZsb3cgc2FtcGxlIGFwcGxp
			Y2F0aW9ucy9sdWFuYXZjb250cm9sbGVyL3Jlc3NvdXJjZXMvaW1h
			Z2VzL2JhbmFuZTIucG5nAADMAAAA/v///wEAAAAAAAAAEAAAAAQQ
			AADIAAAAAAAAAAUQAACEAQAAAAAAABAQAADAAQAAAAAAAEAQAACw
			AQAAAAAAAAIgAAB8AgAAAAAAABAgAAD8AQAAAAAAABEgAAAwAgAA
			AAAAABIgAAAQAgAAAAAAABMgAAAgAgAAAAAAACAgAABcAgAAAAAA
			ADAgAACIAgAAAAAAAAHAAADgAQAAAAAAABHAAAAUAAAAAAAAABLA
			AADwAQAAAAAAABDQAACQAgAAAAAAAIDwAACcAgAAAAAAAA==
			</data>
		</dict>
		<key>data.checked</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>436376198.19531798</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>1</real>
				<key>ImageViewerVisibleCenterX</key>
				<real>561.5</real>
				<key>ImageViewerVisibleCenterY</key>
				<real>328</real>
				<key>ImageViewerVisibleHeight</key>
				<real>192</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>192</real>
			</dict>
			<key>SourceItemOriginalFilePath</key>
			<string>Ressources/Images/checked1.png</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va7QEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAsAMAAAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGpl
			YW4tbHVjDQAAAAEBAABEZXZlbG9wcGVtZW50AAAAEAAAAAEBAABD
			ZWxlZGV2IENvZGVGbG93HAAAAAEBAABDb2RlRmxvdyBTYW1wbGUg
			QXBwbGljYXRpb25zEAAAAAEBAABMdWFOYXZDb250cm9sbGVyCgAA
			AAEBAABSZXNzb3VyY2VzAAAGAAAAAQEAAEltYWdlcwAADAAAAAEB
			AABjaGVja2VkMS5wbmckAAAAAQYAAAQAAAAUAAAAJAAAADwAAABU
			AAAAeAAAAJAAAACkAAAAtAAAAAgAAAAEAwAAfGQCAAAAAAAIAAAA
			BAMAAMN7TgAAAAAACAAAAAQDAAA1g04AAAAAAAgAAAAEAwAAUlNP
			AAAAAAAIAAAABAMAAG68TwAAAAAACAAAAAQDAAAj1FwAAAAAAAgA
			AAAEAwAAV9RcAAAAAAAIAAAABAMAAFvUXAAAAAAACAAAAAQDAABl
			nWgAAAAAACQAAAABBgAA9AAAAAQBAAAUAQAAJAEAADQBAABEAQAA
			VAEAAGQBAAB0AQAACAAAAAAEAABBuNhI9QAAABgAAAABAgAAAQAA
			AAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAHAAAAAAAAAAQA
			AAADAwAA9wEAAAwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAA
			AAbOAwEAAAgAAAAABAAAQbgi/8AAAAAkAAAAAQEAADFCQjM0QjhB
			LTdGNTktM0MyOS05QkE5LTIxM0FFODQ5Mzg2RRgAAAABAgAAgQAA
			AAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEF
			AAAEAAAAAwMAAAADAAAMAQAAAQIAAGRjNjg2YjJmODFkZThmYTc1
			MDBiN2VjNjllYTFiMzYxMjk1ZmJmMTE7MDAwMDAwMDA7MDAwMDAw
			MDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRi
			b3gucmVhZC13cml0ZTswMDAwMDAwMTswMTAwMDAwODswMDAwMDAw
			MDAwNjg5ZDY1Oy91c2Vycy9qZWFuLWx1Yy9kZXZlbG9wcGVtZW50
			L2NlbGVkZXYgY29kZWZsb3cvY29kZWZsb3cgc2FtcGxlIGFwcGxp
			Y2F0aW9ucy9sdWFuYXZjb250cm9sbGVyL3Jlc3NvdXJjZXMvaW1h
			Z2VzL2NoZWNrZWQxLnBuZwDMAAAA/v///wEAAAAAAAAAEAAAAAQQ
			AADIAAAAAAAAAAUQAACEAQAAAAAAABAQAADAAQAAAAAAAEAQAACw
			AQAAAAAAAAIgAAB8AgAAAAAAABAgAAD8AQAAAAAAABEgAAAwAgAA
			AAAAABIgAAAQAgAAAAAAABMgAAAgAgAAAAAAACAgAABcAgAAAAAA
			ADAgAACIAgAAAAAAAAHAAADgAQAAAAAAABHAAAAUAAAAAAAAABLA
			AADwAQAAAAAAABDQAACQAgAAAAAAAIDwAACcAgAAAAAAAA==
			</data>
		</dict>
		<key>data.oranges</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>435797284.54196602</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>0.82986027259713191</real>
				<key>ImageViewerVisibleCenterX</key>
				<real>561.5</real>
				<key>ImageViewerVisibleCenterY</key>
				<real>328</real>
				<key>ImageViewerVisibleHeight</key>
				<real>225</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>310</real>
			</dict>
			<key>SourceItemOriginalFilePath</key>
			<string>Ressources/Images/orange.jpeg</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va7QEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAsAMAAAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGpl
			YW4tbHVjDQAAAAEBAABEZXZlbG9wcGVtZW50AAAAEAAAAAEBAABD
			ZWxlZGV2IENvZGVGbG93HAAAAAEBAABDb2RlRmxvdyBTYW1wbGUg
			QXBwbGljYXRpb25zEAAAAAEBAABMdWFOYXZDb250cm9sbGVyCgAA
			AAEBAABSZXNzb3VyY2VzAAAGAAAAAQEAAEltYWdlcwAACwAAAAEB
			AABvcmFuZ2UuanBlZwAkAAAAAQYAAAQAAAAUAAAAJAAAADwAAABU
			AAAAeAAAAJAAAACkAAAAtAAAAAgAAAAEAwAAfGQCAAAAAAAIAAAA
			BAMAAMN7TgAAAAAACAAAAAQDAAA1g04AAAAAAAgAAAAEAwAAUlNP
			AAAAAAAIAAAABAMAAG68TwAAAAAACAAAAAQDAAAj1FwAAAAAAAgA
			AAAEAwAAV9RcAAAAAAAIAAAABAMAAFvUXAAAAAAACAAAAAQDAAAh
			n7EAAAAAACQAAAABBgAA9AAAAAQBAAAUAQAAJAEAADQBAABEAQAA
			VAEAAGQBAAB0AQAACAAAAAAEAABBugKZoAAAABgAAAABAgAAAQAA
			AAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAHAAAAAAAAAAQA
			AAADAwAA9wEAAAwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAA
			AAbOAwEAAAgAAAAABAAAQbgi/8AAAAAkAAAAAQEAADFCQjM0QjhB
			LTdGNTktM0MyOS05QkE5LTIxM0FFODQ5Mzg2RRgAAAABAgAAgQAA
			AAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEF
			AAAEAAAAAwMAAAADAAALAQAAAQIAAGM2YjA5Njc1Y2NhMTQ4ODgy
			ZmYyZDcyMDkyM2MwNmU1NzI5OGFmZTc7MDAwMDAwMDA7MDAwMDAw
			MDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRi
			b3gucmVhZC13cml0ZTswMDAwMDAwMTswMTAwMDAwODswMDAwMDAw
			MDAwYjE5ZjIxOy91c2Vycy9qZWFuLWx1Yy9kZXZlbG9wcGVtZW50
			L2NlbGVkZXYgY29kZWZsb3cvY29kZWZsb3cgc2FtcGxlIGFwcGxp
			Y2F0aW9ucy9sdWFuYXZjb250cm9sbGVyL3Jlc3NvdXJjZXMvaW1h
			Z2VzL29yYW5nZS5qcGVnAADMAAAA/v///wEAAAAAAAAAEAAAAAQQ
			AADIAAAAAAAAAAUQAACEAQAAAAAAABAQAADAAQAAAAAAAEAQAACw
			AQAAAAAAAAIgAAB8AgAAAAAAABAgAAD8AQAAAAAAABEgAAAwAgAA
			AAAAABIgAAAQAgAAAAAAABMgAAAgAgAAAAAAACAgAABcAgAAAAAA
			ADAgAACIAgAAAAAAAAHAAADgAQAAAAAAABHAAAAUAAAAAAAAABLA
			AADwAQAAAAAAABDQAACQAgAAAAAAAIDwAACcAgAAAAAAAA==
			</data>
		</dict>
		<key>data.poire</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>430400549.561432</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>1</real>
				<key>ImageViewerVisibleCenterX</key>
				<real>561.5</real>
				<key>ImageViewerVisibleCenterY</key>
				<real>328</real>
				<key>ImageViewerVisibleHeight</key>
				<real>281</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>179</real>
			</dict>
			<key>SourceItemOriginalFilePath</key>
			<string>Ressources/Images/poire.jpeg</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va7QEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAsAMAAAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGpl
			YW4tbHVjDQAAAAEBAABEZXZlbG9wcGVtZW50AAAAEAAAAAEBAABD
			ZWxlZGV2IENvZGVGbG93HAAAAAEBAABDb2RlRmxvdyBTYW1wbGUg
			QXBwbGljYXRpb25zEAAAAAEBAABMdWFOYXZDb250cm9sbGVyCgAA
			AAEBAABSZXNzb3VyY2VzAAAGAAAAAQEAAEltYWdlcwAACgAAAAEB
			AABwb2lyZS5qcGVnAAAkAAAAAQYAAAQAAAAUAAAAJAAAADwAAABU
			AAAAeAAAAJAAAACkAAAAtAAAAAgAAAAEAwAAfGQCAAAAAAAIAAAA
			BAMAAMN7TgAAAAAACAAAAAQDAAA1g04AAAAAAAgAAAAEAwAAUlNP
			AAAAAAAIAAAABAMAAG68TwAAAAAACAAAAAQDAAAj1FwAAAAAAAgA
			AAAEAwAAV9RcAAAAAAAIAAAABAMAAFvUXAAAAAAACAAAAAQDAABk
			1FwAAAAAACQAAAABBgAA9AAAAAQBAAAUAQAAJAEAADQBAABEAQAA
			VAEAAGQBAAB0AQAACAAAAAAEAABBtxm2tgAAABgAAAABAgAAAQAA
			AAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAHAAAAAAAAAAQA
			AAADAwAA9wEAAAwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAA
			AAbOAwEAAAgAAAAABAAAQbgi/8AAAAAkAAAAAQEAADFCQjM0QjhB
			LTdGNTktM0MyOS05QkE5LTIxM0FFODQ5Mzg2RRgAAAABAgAAgQAA
			AAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEF
			AAAEAAAAAwMAAAADAAAKAQAAAQIAAGM2ZjcxNGQxNzIyYWExNzg4
			ZWZmMTVmNzYwM2Y3NzdkOTUwMzY2ODE7MDAwMDAwMDA7MDAwMDAw
			MDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRi
			b3gucmVhZC13cml0ZTswMDAwMDAwMTswMTAwMDAwODswMDAwMDAw
			MDAwNWNkNDY0Oy91c2Vycy9qZWFuLWx1Yy9kZXZlbG9wcGVtZW50
			L2NlbGVkZXYgY29kZWZsb3cvY29kZWZsb3cgc2FtcGxlIGFwcGxp
			Y2F0aW9ucy9sdWFuYXZjb250cm9sbGVyL3Jlc3NvdXJjZXMvaW1h
			Z2VzL3BvaXJlLmpwZWcAAADMAAAA/v///wEAAAAAAAAAEAAAAAQQ
			AADIAAAAAAAAAAUQAACEAQAAAAAAABAQAADAAQAAAAAAAEAQAACw
			AQAAAAAAAAIgAAB8AgAAAAAAABAgAAD8AQAAAAAAABEgAAAwAgAA
			AAAAABIgAAAQAgAAAAAAABMgAAAgAgAAAAAAACAgAABcAgAAAAAA
			ADAgAACIAgAAAAAAAAHAAADgAQAAAAAAABHAAAAUAAAAAAAAABLA
			AADwAQAAAAAAABDQAACQAgAAAAAAAIDwAACcAgAAAAAAAA==
			</data>
		</dict>
		<key>data.pommes</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>431371589.06039101</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>2.8889254957726891</real>
				<key>ImageViewerVisibleCenterX</key>
				<real>561.5</real>
				<key>ImageViewerVisibleCenterY</key>
				<real>328</real>
				<key>ImageViewerVisibleHeight</key>
				<real>183</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>276</real>
			</dict>
			<key>SourceItemOriginalFilePath</key>
			<string>Ressources/Images/pommes.jpeg</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va7QEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAsAMAAAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGpl
			YW4tbHVjDQAAAAEBAABEZXZlbG9wcGVtZW50AAAAEAAAAAEBAABD
			ZWxlZGV2IENvZGVGbG93HAAAAAEBAABDb2RlRmxvdyBTYW1wbGUg
			QXBwbGljYXRpb25zEAAAAAEBAABMdWFOYXZDb250cm9sbGVyCgAA
			AAEBAABSZXNzb3VyY2VzAAAGAAAAAQEAAEltYWdlcwAACwAAAAEB
			AABwb21tZXMuanBlZwAkAAAAAQYAAAQAAAAUAAAAJAAAADwAAABU
			AAAAeAAAAJAAAACkAAAAtAAAAAgAAAAEAwAAfGQCAAAAAAAIAAAA
			BAMAAMN7TgAAAAAACAAAAAQDAAA1g04AAAAAAAgAAAAEAwAAUlNP
			AAAAAAAIAAAABAMAAG68TwAAAAAACAAAAAQDAAAj1FwAAAAAAAgA
			AAAEAwAAV9RcAAAAAAAIAAAABAMAAFvUXAAAAAAACAAAAAQDAABm
			1FwAAAAAACQAAAABBgAA9AAAAAQBAAAUAQAAJAEAADQBAABEAQAA
			VAEAAGQBAAB0AQAACAAAAAAEAABBuMS2gwAAABgAAAABAgAAAQAA
			AAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAHAAAAAAAAAAQA
			AAADAwAA9wEAAAwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAA
			AAbOAwEAAAgAAAAABAAAQbgi/8AAAAAkAAAAAQEAADFCQjM0QjhB
			LTdGNTktM0MyOS05QkE5LTIxM0FFODQ5Mzg2RRgAAAABAgAAgQAA
			AAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEF
			AAAEAAAAAwMAAAADAAALAQAAAQIAAGQ0ZTk5MGE1NWExYjMwNDM0
			MjRiNGRkYmQ0YWZkOTE3OTQ0Mzk2OWI7MDAwMDAwMDA7MDAwMDAw
			MDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRi
			b3gucmVhZC13cml0ZTswMDAwMDAwMTswMTAwMDAwODswMDAwMDAw
			MDAwNWNkNDY2Oy91c2Vycy9qZWFuLWx1Yy9kZXZlbG9wcGVtZW50
			L2NlbGVkZXYgY29kZWZsb3cvY29kZWZsb3cgc2FtcGxlIGFwcGxp
			Y2F0aW9ucy9sdWFuYXZjb250cm9sbGVyL3Jlc3NvdXJjZXMvaW1h
			Z2VzL3BvbW1lcy5qcGVnAADMAAAA/v///wEAAAAAAAAAEAAAAAQQ
			AADIAAAAAAAAAAUQAACEAQAAAAAAABAQAADAAQAAAAAAAEAQAACw
			AQAAAAAAAAIgAAB8AgAAAAAAABAgAAD8AQAAAAAAABEgAAAwAgAA
			AAAAABIgAAAQAgAAAAAAABMgAAAgAgAAAAAAACAgAABcAgAAAAAA
			ADAgAACIAgAAAAAAAAHAAADgAQAAAAAAABHAAAAUAAAAAAAAABLA
			AADwAQAAAAAAABDQAACQAgAAAAAAAIDwAACcAgAAAAAAAA==
			</data>
		</dict>
		<key>data.tableItems</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>435796980.47273499</real>
			<key>SourceItemOriginalFilePath</key>
			<string>Ressources/tableData.plist</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va4wEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAiAMAAAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGpl
			YW4tbHVjDQAAAAEBAABEZXZlbG9wcGVtZW50AAAAEAAAAAEBAABD
			ZWxlZGV2IENvZGVGbG93HAAAAAEBAABDb2RlRmxvdyBTYW1wbGUg
			QXBwbGljYXRpb25zEAAAAAEBAABMdWFOYXZDb250cm9sbGVyCgAA
			AAEBAABSZXNzb3VyY2VzAAAPAAAAAQEAAHRhYmxlRGF0YS5wbGlz
			dAAgAAAAAQYAAAQAAAAUAAAAJAAAADwAAABUAAAAeAAAAJAAAACk
			AAAACAAAAAQDAAB8ZAIAAAAAAAgAAAAEAwAAw3tOAAAAAAAIAAAA
			BAMAADWDTgAAAAAACAAAAAQDAABSU08AAAAAAAgAAAAEAwAAbrxP
			AAAAAAAIAAAABAMAACPUXAAAAAAACAAAAAQDAABX1FwAAAAAAAgA
			AAAEAwAAc/pwAAAAAAAgAAAAAQYAAOQAAAD0AAAABAEAABQBAAAk
			AQAANAEAAEQBAABUAQAACAAAAAAEAABBuRwd9gAAABgAAAABAgAA
			AQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAGAAAAAAAA
			AAQAAAADAwAA9wEAAAwAAAABAQAATWFjaW50b3NoIEhECAAAAAQD
			AAAAAAbOAwEAAAgAAAAABAAAQbgi/8AAAAAkAAAAAQEAADFCQjM0
			QjhBLTdGNTktM0MyOS05QkE5LTIxM0FFODQ5Mzg2RRgAAAABAgAA
			gQAAAAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAA
			AAEFAAAEAAAAAwMAAAADAAAIAQAAAQIAADQxMjI2MTNkMjliZDU4
			Y2EyNTQ5M2FjZTAyMmMwZDdkYjhkZTMwYTk7MDAwMDAwMDA7MDAw
			MDAwMDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNh
			bmRib3gucmVhZC13cml0ZTswMDAwMDAwMTswMTAwMDAwODswMDAw
			MDAwMDAwNzBmYTczOy91c2Vycy9qZWFuLWx1Yy9kZXZlbG9wcGVt
			ZW50L2NlbGVkZXYgY29kZWZsb3cvY29kZWZsb3cgc2FtcGxlIGFw
			cGxpY2F0aW9ucy9sdWFuYXZjb250cm9sbGVyL3Jlc3NvdXJjZXMv
			dGFibGVkYXRhLnBsaXN0AMwAAAD+////AQAAAAAAAAAQAAAABBAA
			ALwAAAAAAAAABRAAAGQBAAAAAAAAEBAAAJwBAAAAAAAAQBAAAIwB
			AAAAAAAAAiAAAFgCAAAAAAAAECAAANgBAAAAAAAAESAAAAwCAAAA
			AAAAEiAAAOwBAAAAAAAAEyAAAPwBAAAAAAAAICAAADgCAAAAAAAA
			MCAAAGQCAAAAAAAAAcAAALwBAAAAAAAAEcAAABQAAAAAAAAAEsAA
			AMwBAAAAAAAAENAAAGwCAAAAAAAAgPAAAHgCAAAAAAAA
			</data>
		</dict>
		<key>data.unchecked</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>421272994.60305899</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>4.3995451130218646</real>
				<key>ImageViewerVisibleHeight</key>
				<real>128</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>128</real>
			</dict>
			<key>SourceItemOriginalFilePath</key>
			<string>Ressources/Images/unchecked1.png</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va7wEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAuAMAAAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGpl
			YW4tbHVjDQAAAAEBAABEZXZlbG9wcGVtZW50AAAAEAAAAAEBAABD
			ZWxlZGV2IENvZGVGbG93HAAAAAEBAABDb2RlRmxvdyBTYW1wbGUg
			QXBwbGljYXRpb25zEAAAAAEBAABMdWFOYXZDb250cm9sbGVyCgAA
			AAEBAABSZXNzb3VyY2VzAAAGAAAAAQEAAEltYWdlcwAADgAAAAEB
			AAB1bmNoZWNrZWQxLnBuZwAAJAAAAAEGAAAEAAAAFAAAACQAAAA8
			AAAAVAAAAHgAAACQAAAApAAAALQAAAAIAAAABAMAAHxkAgAAAAAA
			CAAAAAQDAADDe04AAAAAAAgAAAAEAwAANYNOAAAAAAAIAAAABAMA
			AFJTTwAAAAAACAAAAAQDAABuvE8AAAAAAAgAAAAEAwAAI9RcAAAA
			AAAIAAAABAMAAFfUXAAAAAAACAAAAAQDAABb1FwAAAAAAAgAAAAE
			AwAAadRcAAAAAAAkAAAAAQYAAPgAAAAIAQAAGAEAACgBAAA4AQAA
			SAEAAFgBAABoAQAAeAEAAAgAAAAABAAAQbgZjTMAAAAYAAAAAQIA
			AAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABwAAAAAA
			AAAEAAAAAwMAAPcBAAAMAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
			AwAAAAAGzgMBAAAIAAAAAAQAAEG4Iv/AAAAAJAAAAAEBAAAxQkIz
			NEI4QS03RjU5LTNDMjktOUJBOS0yMTNBRTg0OTM4NkUYAAAAAQIA
			AIEAAAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
			AAABBQAABAAAAAMDAAAAAwAADgEAAAECAABhNTY0M2U1NWQwZDVi
			OGIzYzRlZGIxMTc2ZDcyODJmZWIzOGU3ZWU4OzAwMDAwMDAwOzAw
			MDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1z
			YW5kYm94LnJlYWQtd3JpdGU7MDAwMDAwMDE7MDEwMDAwMDg7MDAw
			MDAwMDAwMDVjZDQ2OTsvdXNlcnMvamVhbi1sdWMvZGV2ZWxvcHBl
			bWVudC9jZWxlZGV2IGNvZGVmbG93L2NvZGVmbG93IHNhbXBsZSBh
			cHBsaWNhdGlvbnMvbHVhbmF2Y29udHJvbGxlci9yZXNzb3VyY2Vz
			L2ltYWdlcy91bmNoZWNrZWQxLnBuZwAAAMwAAAD+////AQAAAAAA
			AAAQAAAABBAAAMwAAAAAAAAABRAAAIgBAAAAAAAAEBAAAMQBAAAA
			AAAAQBAAALQBAAAAAAAAAiAAAIACAAAAAAAAECAAAAACAAAAAAAA
			ESAAADQCAAAAAAAAEiAAABQCAAAAAAAAEyAAACQCAAAAAAAAICAA
			AGACAAAAAAAAMCAAAIwCAAAAAAAAAcAAAOQBAAAAAAAAEcAAABQA
			AAAAAAAAEsAAAPQBAAAAAAAAENAAAJQCAAAAAAAAgPAAAKACAAAA
			AAAA
			</data>
		</dict>
	</dict>
</dict>
</plist>
